<section id="intro">
    <div class="intro-container">
        <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators"></ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active" style="background-image: url({{ 'assets/images/banner/1.jpg' | relative_url }});">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>XDAG: A new DAG-based<br> cryptocurrency</h2>
                            <p>XDAG is a novel application of Directed Acyclic Graph (DAG) technology that solves the issues currently facing blockchain technology. </p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item " style="background-image: url({{ 'assets/images/banner/2.png'  | relative_url }});">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>The first mineable DAG</h2>
                            <p>
                                Block = transaction = address
                                Original main chain idea
                                Mining new money every 64 seconds</p>
                        </div>
                    </div>
                </div>

                <div class="carousel-item" style="background-image: url({{ 'assets/images/banner/3.jpg'  | relative_url }});">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>No pre-mine or ICO</h2>
                            <p>XDAG offer bleeding edge technology to offer a decentralised solution to the problems facing other cryptocurrencies. XDAG has no pre-mine or ICO, and is a true community-driven project aligned by a common goal and innovative development team.</p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div>
    </div>
</section>