<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-6 footer-info">
                    <img src="../assets/images/logo.png" height="40" alt="" title="" />
                    <div class="btm">
                        <p>Support The Community: This site is managed by the XDAG community.</p>
                        <p class="btmWallet">Contribute XDAG: {{site.offical}}</p>
                    </div>

                </div>
                <div class="col-lg-4 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="ion-ios-arrow-right"></i> <a href="index.html">Home</a></li>
                        <li><i class="ion-ios-arrow-right"></i> <a href="http://explorer.xdag.io/" target="_blank">Block explorer</a></li>
                        <!--<li><i class="ion-ios-arrow-right"></i> <a href="#">Forum</a></li>-->
                        <!--<li><i class="ion-ios-arrow-right"></i> <a href="#">Blog</a></li>-->
                        <!--<li><i class="ion-ios-arrow-right"></i> <a href="#">Wiki</a></li>-->
                        <li><i class="ion-ios-arrow-right"></i> <a href="#services">MINING QUICK START</a></li>
                        <li><i class="ion-ios-arrow-right"></i> <a href="#wallet">WALLETS</a></li>
                        <li><i class="ion-ios-arrow-right"></i> <a href="#roadmap">ROADMAP</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>