<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-6 footer-info">
                    <img src="{{ '/assets/images/logo.svg' | absolute_url }}" height="60" alt="Dagger, by the community" />
                    <div class="community_wallets">
                        <p class="mb-3">{% t footer.support %}</p>
                        {% for wallet in site.community_wallets %}
                        <div>
                          <p class="community_wallets__item community_wallets__item">
                            <span class="community_wallets__currency">{{ wallet.currency }}</span>
                            <i class=" community_wallets__arrow community_wallets__arrow--i{{ forloop.index }} ion-ios-arrow-back"></i>
                            <i class=" community_wallets__arrow community_wallets__arrow--i{{ forloop.index }} ion-ios-arrow-forward"></i>
                            <span class="community_wallets__address">{{ wallet.address }}</span>
                          </p>  
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 footer-links">
                    <h4>{% t footer.links %}</h4>
                    <ul>
                        <li><a href="{% tl home %}">{% t nav.home %}</a></li>
                        <li><a href="http://explorer.xdag.io/" target="_blank">{% t nav.explorer %}{% include lang-warn.html %}</a></li>
                        <li><a href="{% tl home %}#{% t nav.mining %}">{% t nav.mining %}</a></li>
                        <li><a href="{% tl home %}#{% t nav.wallet %}">{% t nav.wallet %}</a></li>
                        <li><a href="{{ '/blog' | absolute_url }}">{% t nav.news %}{% include lang-warn.html %}</a></li>
                        <li><a href="https://github.com/XDagger/xdag/blob/master/WhitePaper.md" target="_blank">{% t nav.whitepaper %}{% include lang-warn.html %}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
<script src="{{ '/assets/lib/jquery/jquery.min.js' | absolute_url }}"></script>
<script src="{{ '/assets/lib/jquery/jquery-migrate.min.js' | absolute_url }}"></script>
<script src="{{ '/assets/lib/bootstrap/js/bootstrap.bundle.min.js' | absolute_url }}"></script>
<script src="{{ '/assets/lib/easing/easing.min.js' | absolute_url }}"></script>
<script src="{{ '/assets/lib/wow/wow.min.js' | absolute_url }}"></script>
<script src="{{ '/assets/js/superfish.custom.js' | absolute_url }}"></script>
<script src="{{ '/assets/js/main.js' | absolute_url }}"></script>