<header id="header">
    <div class="container-fluid">
        <div id="logo" class="pull-left">
            <a href="{{ 'index.html#intro' | relative_url}}"><img src="{{ 'assets/images/logo.png' | relative_url }}" height="40" alt="" title="" /></a>
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li ><a href="{{ 'index.html' | relative_url }}">Home</a></li>
                <li><a href="http://explorer.xdag.io/" target="_blank">Block explorer</a></li>
                <li><a href="{{ 'index.html#services' | relative_url }}">Mining quick start</a></li>
                <li><a href="{{ 'index.html#wallet' | relative_url }}">Wallets</a></li>
                <li><a href="{{ 'blog/index.html' | relative_url }}">News</a></li>
                <li><a href="https://github.com/XDagger/xdag/blob/master/WhitePaper.md" target="_blank">Whitepaper</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="header-bg"></div>
