<header id="header">
    <div class="container-fluid">
        <div id="logo" class="pull-left">
            <a href="#intro"><img src="../assets/images/logo.png" height="40" alt="" title="" /></a>
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li ><a href="index.html">Home</a></li>
                <li><a href="http://explorer.xdag.io/" target="_blank">Block explorer</a></li>
                <!--<li><a href="team.html">Team</a></li>-->
                <!--<li><a href="#">Forum</a></li>-->
                <!--<li><a href="#">Blog</a></li>-->
                <!--<li><a href="#">Wiki</a></li>-->
                <li><a href="#services">MINING QUICK START</a></li>
                <li><a href="#wallet">WALLETS</a></li>
                <li><a href="#roadmap">ROADMAP</a></li>
            </ul>
        </nav>
    </div>
</header>