<header id="header" class="js-header">
    <div id="logo">
        <a href="{% tl home %}">
            <img src="{{ '/assets/images/logo.svg' | absolute_url }}" height="70" alt="Dagger" />
        </a>
    </div>
    <input class="display-toggle js-nav-main-toggle" type="checkbox" id="nav-main-toggle">
    <label class="nav-main-icon" for="nav-main-toggle"></label>
    <nav class="nav-main-container" role="navigation">
        <ul class="nav-main js-nav-main">
            <li class="js-nav-no-sublevel">
                <a href="{% tl home %}">{% t nav.home %}</a>
            </li>
            <li class="js-nav-has-sublevel">
                <input class="display-toggle" type="checkbox" id="nav-getstarted-toggle">
                <label class="nav-sublevel-label js-nav-sublevel-label" for="nav-getstarted-toggle" tabindex="0">{% t nav.get_started %}</label>
                <ul id="nav-getstarted" class="nav-sublevel js-nav-sublevel">
                    <li><a href="{% tl home %}#wallet">{% t nav.wallet %}</a></li>
                    <li><a href="{% tl home %}#mining">{% t nav.mining %}</a></li>
                    <li><a href="{% tl pools %}">{% t nav.pools %}</a></li>
                </ul>
            </li>
            <li class="js-nav-no-sublevel">
                <a href="http://explorer.xdag.io/" target="_blank">{% t nav.explorer %}{% include lang-warn.html %}</a>
            </li>
            <li class="js-nav-has-sublevel">
                <input class="display-toggle" type="checkbox" id="nav-resources-toggle">
                <label class="nav-sublevel-label js-nav-sublevel-label" for="nav-resources-toggle" tabindex="0">{% t nav.resources %}</label>
                <ul id="nav-resources" class="nav-sublevel js-nav-sublevel">
                    <li><a href="https://github.com/XDagger/xdag/blob/master/WhitePaper.md" target="_blank">{% t nav.whitepaper %}{% include lang-warn.html %}</a></li>
                    <li><a href="https://github.com/XDagger/xdag/releases" target="_blank">{% t nav.releases %}{% include lang-warn.html %}</a></li>
                    <li><a href="{% tl home %}#roadmap">{% t nav.roadmap %}</a></li>
                </ul>
            </li>
            <li class="js-nav-no-sublevel">
                <a href="{{ '/blog' | absolute_url }}">{% t nav.news %}{% include lang-warn.html %}</a>
            </li>
            <li class="js-nav-has-sublevel">
                <input class="display-toggle" type="checkbox" id="nav-community-toggle">
                <label class="nav-sublevel-label js-nav-sublevel-label" for="nav-community-toggle" tabindex="0">{% t nav.community %}</label>
                <ul id="nav-community" class="nav-sublevel js-nav-sublevel">
                    <li><a href="{% tl home %}#community">{% t nav.social_channels %}</a></li>
                </ul>
            </li>
            <li class="js-nav-has-sublevel nav-lang">
                <input class="display-toggle" type="checkbox" id="nav-lang-toggle">
                <label class="nav-sublevel-label js-nav-sublevel-label" for="nav-lang-toggle" tabindex="0">
                  <i class="ion-ios-globe nav-sublevel-icon"></i><span class="nav-sublevel-text">{{ site.translations[site.lang].nav.current_language }}</span>
                </label>
                <div id="nav-lang" class="sf-mega nav-sublevel js-nav-sublevel">
                  <ul class="nav-sublevel-grid">
<!--
                    <li>
                      <a href="https://xdag.top">中文</a>
                    </li>
-->
                    {%- for lang in site.languages -%}
                      <li>
                      {% capture language %}{{ site.translations[lang].nav.current_language }}{% endcapture %}
                      {% if page.translated %}
                        {% capture namespace %}{{ page.namespace }} {{ lang }}{% endcapture %}
                        <a href="{{ site.url }}{% tl namespace %}">{{ language }}</a>
                      {%- else -%}
                        <a href="{% localize_absolute_url {{ '/index.html' }} {{ lang }} %}">{{ language }}</a>
                      {%- endif -%}
                      </li>
                    {%- endfor -%} 
                  </ul>
                </div>
            </li>
        </ul>
    </nav>
    <div class="nav-overlay"></div>
</header>
<div class="header-bg"></div>
