<div class="container">
    <nav class="navbar navbar-expand-lg custom_nav-container ">
        <a class="navbar-brand " href="index.html">
            <span>
              <img src="{{site.url}}/assets/images/logo.png" alt="" class="logo">
            </span>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ '/' | absolute_url }}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                        Block Explorer
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="http://explorer.xdag.io/" target="_blank">Main net</a>
                        <a class="dropdown-item" href="https://testexplorer.xdag.io/" target="_blank">Test net</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="Resources" role="button" data-toggle="dropdown" aria-expanded="false">
                        Resources
                    </a>
                    <div class="dropdown-menu" aria-labelledby="Resources">
                        <a class="dropdown-item" href="https://github.com/XDagger/xdag/blob/master/WhitePaper.md" target="_blank">Whitepaper</a>
                        <a class="dropdown-item" href="https://github.com/XDagger/xdag/releases" target="_blank">Releases</a>
                        <a class="dropdown-item" href="{{ '/index.html#roadmap' | absolute_url }}">Roadmap</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="http://xdag2021.github.io/">News</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="{{ '/technology' | absolute_url }}">Technology</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="Community" role="button" data-toggle="dropdown" aria-expanded="false">
                        Community
                    </a>
                    <div class="dropdown-menu" aria-labelledby="Community">
                        <a class="dropdown-item" href="{{ '/rank' | absolute_url }}">Wallet Rank</a>
                        <a class="dropdown-item" href="{{ '/task' | absolute_url }}">Reward Tasks</a>
                        <a class="dropdown-item" href="{{ '/hashrate' | absolute_url }}">Hashrate Statistics</a>
                        <a class="dropdown-item" href="https://www.coinex.com/exchange/XDAG-USDT" target="_blank">Exchanges </a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>
