<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>xdag-ios.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>71C0BE747E864A1FEA8ACCD9ED23977C1100CBDE</string>
				<key>dateExpires</key>
				<string>2021/9/2</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>71C0BE747E864A1FEA8ACCD9ED23977C1100CBDE</string>
						<key>dateExpires</key>
						<string>2021/9/2</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>63W8B64Y58</string>
						<key>name</key>
						<string>F&amp;F INTERNATIONAL TRADING CO., LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>71C0BE747E864A1FEA8ACCD9ED23977C1100CBDE</string>
						<key>dateExpires</key>
						<string>2021/9/2</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CocoaAsyncSocket.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>63W8B64Y58</string>
						<key>name</key>
						<string>F&amp;F INTERNATIONAL TRADING CO., LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>71C0BE747E864A1FEA8ACCD9ED23977C1100CBDE</string>
						<key>dateExpires</key>
						<string>2021/9/2</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>HTTPParserC.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>63W8B64Y58</string>
						<key>name</key>
						<string>F&amp;F INTERNATIONAL TRADING CO., LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>71C0BE747E864A1FEA8ACCD9ED23977C1100CBDE</string>
						<key>dateExpires</key>
						<string>2021/9/2</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>63W8B64Y58</string>
						<key>name</key>
						<string>F&amp;F INTERNATIONAL TRADING CO., LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>71C0BE747E864A1FEA8ACCD9ED23977C1100CBDE</string>
						<key>dateExpires</key>
						<string>2021/9/2</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>63W8B64Y58</string>
						<key>name</key>
						<string>F&amp;F INTERNATIONAL TRADING CO., LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>71C0BE747E864A1FEA8ACCD9ED23977C1100CBDE</string>
						<key>dateExpires</key>
						<string>2021/9/2</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Telegraph.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>63W8B64Y58</string>
						<key>name</key>
						<string>F&amp;F INTERNATIONAL TRADING CO., LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>71C0BE747E864A1FEA8ACCD9ED23977C1100CBDE</string>
						<key>dateExpires</key>
						<string>2021/9/2</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Zip.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>63W8B64Y58</string>
						<key>name</key>
						<string>F&amp;F INTERNATIONAL TRADING CO., LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>71C0BE747E864A1FEA8ACCD9ED23977C1100CBDE</string>
						<key>dateExpires</key>
						<string>2021/9/2</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>paper_onboarding.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>63W8B64Y58</string>
						<key>name</key>
						<string>F&amp;F INTERNATIONAL TRADING CO., LTD</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>63W8B64Y58.io.xdag.wallet</string>
				<key>com.apple.developer.team-identifier</key>
				<string>63W8B64Y58</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>63W8B64Y58.io.xdag.wallet</string>
				</array>
			</dict>
			<key>name</key>
			<string>xdag-ios.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>c94ffa54-f566-476c-ac92-6474371062c4</string>
				<key>name</key>
				<string>in-house-xdag</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>63W8B64Y58</string>
				<key>name</key>
				<string>F&amp;F INTERNATIONAL TRADING CO., LTD</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
