<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<true/>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://xdag.io/assets/apps/xdag-ios.ipa</string>
		<key>displayImageURL</key>
		<string>https://xdag.io/assets/apps/image.57x57.png</string>
		<key>fullSizeImageURL</key>
		<string>https://xdag.io/assets/apps/image.512x512.png</string>
	</dict>
	<key>method</key>
	<string>enterprise</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>io.xdag.wallet</key>
		<string>in-house-xdag</string>
	</dict>
	<key>signingCertificate</key>
	<string>iPhone Distribution</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>63W8B64Y58</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
