@import "helpers/variables";
@import "helpers/mixins";
@import "components/button";

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  color: #666666;
  font-family: "Open Sans", sans-serif;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

a {
  color: $color-primary;
  transition: color 0.5s;
}

a:hover, a:active, a:focus {
  color: #18d36e;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

/* Back to top button */
.back-to-top {
  position: fixed;
  background: $color-primary;
  color: #fff;
  display: inline-block;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 11;
}

.back-to-top i {
  padding-top: 12px;
  color: #fff;
}

.chs {
  text-indent: -9999px;
  height: 0;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
}

.img-responsive {
  max-width: 100%;
}

.bg-black {
  background: #111;
}

.lang-warn {
  font-size: 11px;
  position: relative;
  top: -5px;
  margin-left: 5px;
  color: #bdbdbd;
}

// Utility classes

.display-toggle {
  display: none;

  &:not(:checked) ~ .display-toggle-target {
    display: none;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

$header-height: 92px;
$header-height-scrolled: 72px;
$header-bg-scrolled: rgba(0, 0, 0, 0.7);
$header-bp: 1400px;

#header {
  display: flex;
  align-items: center;
  position: fixed;
  height: $header-height;
  left: 0;
  top: 0;
  right: 0;
  padding: 30px 15px;
  z-index: 997;
  background: 0;
  transition: height 0.5s, background 0.5s;

  @include bp-min($header-bp) {
    padding: 30px 60px;
  }

  @at-root .no-js & {
    height: $header-height-scrolled;
    background: $header-bg-scrolled;
  }
}

#header.header-scrolled {
  background: $header-bg-scrolled;
  padding: 20px 15px;
  height: $header-height-scrolled;

  @include bp-min($header-bp) {
    padding: 20px 60px;
  }
}

#header #logo {
  margin-right: auto;
}

#header #logo img {
  padding: 0;
  margin: 0;

  @media (max-width: 768px) {
    max-height: 60px;
  }
}

.header-bg {
  width: 100%;
  height: $header-height;
  background: #000 url("../images/banner/1.jpg") center;
}


/*--------------------------------------------------------------
# Main navigation
--------------------------------------------------------------*/

// navBreakpoint in main.js 
$nav-breakpoint: 1300px;

.nav-overlay-active {
  @include bp-max($nav-breakpoint) {
    overflow: hidden;
  }
}

.nav-main-icon {
  z-index: 999;
  padding: 5px 10px;
  margin: 0;
  font-size: 24px;
  color: white;
  cursor: pointer;
  background: none;
  outline: 0;

  @include bp-min($nav-breakpoint) {
    display: none;
  }

  @at-root .is-focusable &:focus {
    color: $color-primary;
  }

  &::before {
    content: "\f0c9";
    font-family: 'FontAwesome';

    @at-root .display-toggle:checked ~ & {
      content: "\f00d";
    }
  }
}

.nav-main-container {
  z-index: 998;

  @include bp-max($nav-breakpoint) {
    position: fixed;
    bottom: 0;
    top: 0;
    left: -260px;
    width: 260px;
    padding-top: 18px;
    background: rgba(0, 0, 0, 0.8);
    overflow-y: auto;
    transform: translate3d(0, 0, 0);
    transition: transform 0.4s;
  }

  &:focus-within {
    @include bp-max($nav-breakpoint) {
      transform: translate3d(100%, 0, 0);
    }
  }

  @at-root .display-toggle:checked ~ & {
    @include bp-max($nav-breakpoint) {
      transform: translate3d(100%, 0, 0);
    }
  }

  a,
  label {
    display: inline-block;
    width: 100%;
    padding: 10px 15px;
    margin: 0;
    background: none;
    text-decoration: none;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 13px;
    outline: 0;

    @include bp-min($nav-breakpoint) {
      padding: 10px;
    }


    &:hover {
      @include bp-min($nav-breakpoint) {
        color: $color-primary;
      }
    }

    @at-root .is-focusable &:focus {
      color: $color-primary;
    }
  }

  label {
    position: relative;
    transition: color 0.5s;
    cursor: pointer;
    user-select: none;

    &.nav-sublevel-label--lang {
      padding-left: 40px;
      font-size: 11px;
      line-height: 16px;

      @include bp-max($nav-breakpoint) {
        margin-top: 20px;
      }

      @include bp-min($nav-breakpoint) {
        padding-left: 20px;
      }
    }
  }

  ul {
    margin: 0;
    list-style: none;
  }

  li {
    position: relative;

    &:hover {
      z-index: 1;
    }
  }
}

.nav-lang {
  margin-top: 20px;

  @include bp-min($nav-breakpoint) {
    margin-top: 0;
    margin-left: 100px !important; 
  }

  .nav-sublevel-icon {
    font-size: 24px;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    color: #fbfdff;

    @include bp-min($nav-breakpoint) {
      left: 0;
    }
  }

  .nav-sublevel-text {
    font-size: 11px;
    position: relative;
    top: -1px;
    display: inline-block;
    margin-left: 30px;

    @include bp-min($nav-breakpoint) {
      margin-left: 16px;
    }
  }

  .nav-sublevel {
    left: auto;
    right: 0;
    min-width: 0;
  }

  .nav-sublevel-grid {
    @include bp-min($nav-breakpoint) {
      white-space: nowrap;
      overflow-y: auto;
      max-height: calc(100vh - 100px);
      padding: 10px 0;

      @supports (display: grid) {
        display: grid;
        grid-auto-flow: column;
        grid-template-rows: repeat(4, min-content);
        grid-auto-columns: min-content;
        direction: rtl;
        text-align: left;
        width: min-content;
        overflow-y: initial;
      }
    }

    li {
      @include bp-min($nav-breakpoint) {
        margin: 0 10px !important; 
      }
    }

    a {
      font-size: 11px;
      text-transform: uppercase;
    }
  }
}

.nav-main > li {

  &.is-hover {
    z-index: 1;
  }

  @include bp-min($nav-breakpoint) {
    float: left;
    margin-left: 10px;
  }

  > a,
  > label {
    pointer-events: all;
    text-transform: uppercase;
  }
}

.nav-sublevel {
  display: none;
  opacity: 0;
  
  @include bp-min($nav-breakpoint) {
    position: absolute;
    top: calc(100% + 15px);
    left: 0;
    min-width: 180px;
    box-shadow: inset 0 2px $color-primary;
    background: $header-bg-scrolled;
  }

  @at-root .no-js .display-toggle:checked ~ & {
    display: block;
    opacity: 1;
  }

  li {
    @include bp-min($nav-breakpoint) {
      margin: 0 10px;
    }

    &:first-child {
      @include bp-min($nav-breakpoint) {
        margin-top: 10px;
      }
    }

    &:last-child {
      @include bp-min($nav-breakpoint) {
        margin-bottom: 10px;
      }
    }

    a,
    label {
      @include bp-max($nav-breakpoint) {
        padding-left: 45px;
      }
    }
  }
}

.nav-sublevel-label {
  &::after {
    // chevron-down
    content: "\f078";
    font-size: 14px;
    font-family: 'FontAwesome';
    color: #fff;
    vertical-align: text-top;

    @include bp-max($nav-breakpoint) {
      position: absolute;
      right: 15px;
    }

    @include bp-min($nav-breakpoint) {
      margin-left: 10px;
      font-size: 9px;
    }
  }

  @at-root .nav-main .is-active &::after {
    // chevron-up
    content: "\f077";
    color: $color-primary;
  }

  @at-root .no-js .display-toggle:checked ~ &::after {
    // chevron-up
    content: "\f077";
    color: $color-primary;
  }


  &.is-active::after {
    // chevron-up
    content: "\f077";
    color: $color-primary;
  }
}

.nav-overlay  {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 125%;
  background: rgba(0, 0, 0, 0.7);

  @include bp-min($nav-breakpoint) {
    display: none !important;
  }

  @at-root .display-toggle:checked ~ & {
    display: block;
  }

  @at-root .nav-main-container:focus-within ~ & {
    display: block;
  }
}


/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
/* Sections Header
--------------------------------*/
.section-header h3 {
  font-size: 32px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  position: relative;
  padding-bottom: 15px;
}

.section-header h3::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-header h3::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: $color-primary;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-header p {
  text-align: center;
  padding-bottom: 30px;
  color: #333;
}

/* Section with background
--------------------------------*/
.section-bg {
  background: #f7f7f7;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #000;
  padding: 0 0 30px 0;
  color: #eee;
  font-size: 14px;
}

#footer .footer-top {
  background: #111;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 34px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 10px;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  border-left: 4px solid $color-primary;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
  color: #eee;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #eee;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: $color-primary;
  color: #fff;
}

#footer .footer-top h4 {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top h4::before, #footer .footer-top h4::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
}

#footer .footer-top h4::before {
  right: 0;
  background: #555;
}

#footer .footer-top h4::after {
  background: $color-primary;
  width: 60px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 8px;
  color: #ddd;
}

#footer .footer-top .footer-links ul li {
  border-bottom: 1px solid #333;
  padding: 10px 0;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #eee;
}

#footer .footer-top .footer-links ul a:hover {
  color: $color-primary;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  line-height: 26px;
}

#footer .footer-top .footer-newsletter {
  margin-bottom: 30px;
}

#footer .footer-top .footer-newsletter input[type="email"] {
  border: 0;
  padding: 6px 8px;
  width: 65%;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
  background: $color-primary;
  border: 0;
  width: 35%;
  padding: 6px 0;
  text-align: center;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

#footer .footer-top .footer-newsletter input[type="submit"]:hover {
  background: #13a456;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  text-align: center;
  font-size: 13px;
  color: #ddd;
}

.community_wallets {
  padding: 40px 0;
}

.community_wallets__item {
  display: inline-block;
  margin: 3px 0;

  &:hover {
    .community_wallets__arrow {

      &:nth-of-type(1) {
        transform: translateX(-2px);
      }

      &:nth-of-type(2) {
        transform: translateX(2px);
      }
    }
  }
}

@keyframes community_wallets__color {
  0% {
    color: #588ee9;
  } 
  50% {
    color: #2ad4de;
  }
  100% {
    color: #588ee9;
  }
}

.community_wallets__currency {
  display: inline-block;
  width: 3.5em;
  user-select: none;
  font-weight: bold;
  color: #fff;
}

.community_wallets__arrow {
  display: inline-block;
  transition: transform 0.2s ease;
  user-select: none;
  animation: community_wallets__color 10s ease infinite;

  &--i2 {
    animation-delay: -3.666s 
  }

  &--i3 {
    animation-delay: -6.333s 
  }

  &:last-of-type {
    margin-right: 1em;
  }
}

.community_wallets__address {
  word-break: break-word;
}

.mask {
  display: none;
  position:fixed;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background:rgba(0,0,0,0.8);
}

.playbrdr {
  display: none;
  position: fixed;
  width: 90%;
  height: 90%;
  z-index: 999999;
  left:5%;
  top: 5%;
}

.videoclose {
  font-size: 30px;
  color: #fff;
  position: fixed;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 999;
}