@import "helpers/variables";
@import "helpers/mixins";
@import "components/roadmap";
@import "components/exchanges";

.header-bg {
	display: none;
}

.home-section {
  padding: 60px 0;
}

/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/
#intro {
  display: table;
  width: 100%;
  height: 100vh;
  background: #000;
}

#intro .carousel-item {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#intro .carousel-item::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#intro .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#intro .carousel-content {
  text-align: center;
  width: 100%;
}

#intro h2 {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  padding: 0 15px;
  max-width: 15em;
  margin: 0 auto 30px;
}

@media (max-width: 768px) {
  #intro h2 {
    font-size: 28px;
  }
}

#intro p {
  font-size: 18px;
  width: 80%;
  max-width: 50em;
  margin: 0 auto 30px auto;
  color: #fff;
}

@media (min-width: 1024px) {
  #intro p {
    width: 60%;
  }
}

#intro .carousel-fade .carousel-inner .carousel-item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

#intro .carousel-fade .carousel-inner .carousel-item,
#intro .carousel-fade .carousel-inner .active.carousel-item-left,
#intro .carousel-fade .carousel-inner .active.carousel-item-right {
  opacity: 0;
}

#intro .carousel-fade .carousel-inner .active,
#intro .carousel-fade .carousel-inner .carousel-item-next.carousel-item-left,
#intro .carousel-fade .carousel-inner .carousel-item-prev.carousel-item-right {
  opacity: 1;
  transition: 0.5s;
}

#intro .carousel-fade .carousel-inner .carousel-item-next,
#intro .carousel-fade .carousel-inner .carousel-item-prev,
#intro .carousel-fade .carousel-inner .active.carousel-item-left,
#intro .carousel-fade .carousel-inner .active.carousel-item-right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#intro .carousel-control-prev, #intro .carousel-control-next {
  width: 10%;
}

@media (min-width: 1024px) {
  #intro .carousel-control-prev, #intro .carousel-control-next {
    width: 5%;
  }
}

#intro .carousel-control-next-icon, #intro .carousel-control-prev-icon {
  background: none;
  font-size: 32px;
  line-height: 1;
}

#intro .carousel-indicators li {
  cursor: pointer;
}

#intro .btn-get-started {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 32px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  color: #fff;
  background: $color-primary;
}

#intro .btn-get-started:hover {
  background: #fff;
  color: $color-primary;
}

/* Featured Services Section
--------------------------------*/
#featured-services {
  background: #000;
}

#featured-services .box {
  padding: 30px 20px;
}

#featured-services .box-bg {
  background-image: linear-gradient(0deg, #000000 0%, #242323 50%, #000000 100%);
}

#featured-services i {
  color: $color-primary;
  font-size: 48px;
  display: inline-block;
  line-height: 1;
}

#featured-services h4 {
  font-weight: 400;
  margin: 15px 0;
  font-size: 18px;
}

#featured-services h4 a {
  color: #fff;
}

#featured-services h4 a:hover {
  color: $color-primary;
}

#featured-services p {
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 0;
}

/* About Us Section
--------------------------------*/
#about {
  background: url("../images/about-bg.jpg") center top no-repeat fixed;
  background-size: cover;
  padding: 60px 0 40px 0;
  position: relative;
}

#about::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.92);
  z-index: 9;
}

#about .container {
  position: relative;
  z-index: 10;
}

#about .about-col {
  background: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
  margin-bottom: 20px;
  min-height:338px;
}

#about .about-col .img {
  position: relative;
}

#about .about-col .img img {
  border-radius: 4px 4px 0 0;
}

#about .about-col .icon {
  width: 64px;
  height: 64px;
  padding-top: 8px;
  text-align: center;
  position: absolute;
  background-color: $color-primary;
  border-radius: 50%;
  text-align: center;
  border: 4px solid #fff;
  left: calc( 50% - 32px);
  bottom: -30px;
  transition: 0.3s;
}

#about .about-col i {
  font-size: 36px;
  line-height: 1;
  color: #fff;
  transition: 0.3s;
}

#about .about-col:hover .icon {
  background-color: #fff;
}

#about .about-col:hover i {
  color: $color-primary;
}

#about .about-col h2 {
  color: #000;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  padding: 0;
  margin: 40px 0 12px 0;
}

#about .about-col h2 a {
  color: #000;
}

#about .about-col h2 a:hover {
  color: $color-primary;
}

#about .about-col p {
  font-size: 14px;
  line-height: 24px;
  color: #333;
  margin-bottom: 0;
  padding: 0 20px 20px 20px;
}

/* Mining & Pools Section
--------------------------------*/
.mining {
  background: #fff;
  background-size: cover;
  padding: 60px 0 40px 0;
}

.mining .box {
  margin-bottom: 30px;
}

.mining .icon {
  float: left;
}

.mining .icon i {
  color: $color-primary;
  font-size: 36px;
  line-height: 1;
  transition: 0.5s;
}

.mining .title {
  margin-left: 60px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.mining .title a {
  color: #111;
  cursor: pointer;
}

.mining .box:hover .title a {
  color: $color-primary;
}

.mining .description {
  font-size: 14px;
  margin-left: 60px;
  line-height: 24px;
  margin-bottom: 0;
}


.collBg {
  background: #f7f7f9;
  padding-bottom: 20px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);

  .purple{
    color: #5255c8;

    .brdr,.brdrbtm{
      border-color:#5255c8 ;
    }
  }

  .blue{
    color:#317f5b;

    .brdr,.brdrbtm{
      border-color:#317f5b ;
    }
  }

  .dark{
    color: $color-primary;

    .brdr,.brdrbtm{
      border-color:$color-primary ;
    }
  }

  .black{
    color: #000000;

    .brdr,.brdrbtm{
      border-color:#000000 ;
    }
  }
  
  ul,li {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    line-height:2em;
  }

  .collTit {
    background: #ffffff;
    margin: 1px;
    padding: 35px 10px 30px;
    border-bottom: 1px solid #e5e5e5;

    p {
      padding: 0;
      margin: 0;
    }

    .pStrong {
      font-weight: bold;
    }

    .brdr {
      border-radius: 50%; 
      height:14px;
      width:14px;
      display: inline-block;
      vertical-align: top;
      border: 1px solid;
    }

		.sup {
		  display: block;line-height:14px;text-align: center
		}
  }
}

.brdrbtm {
  border-radius: 50%; 
  height:18px;
  width:18px;
  display: inline-block;
  border: 1px solid;
  margin-right:10px;
}

.sup2 {
  display: block;
  line-height:18px;
  text-align: center;
}

.collbtm {
  padding-top: 10px!important;
}

.poollist{
  padding-bottom: 20px;

  h5 {
    font-weight: bold;
    padding:30px 0 0 2.5%;
  }

  p,
  span {
  	line-height: 1.6;
  }

  p {
    padding: 15px 1%;
    margin: 0 0 0 1.5%;
    display: inline-block;
    width: 95%;
    border-bottom: 1px solid #e5e5e5;

    &:nth-child(odd) {
      background: #fff;
    }
  }
}

.pool-state {
  display: block;
  font-size: 14px;
  color: #666;
}

/* Call To Action Section
--------------------------------*/
/*
#call-to-action {
  background: linear-gradient(rgba(0, 142, 99, 0.1), rgba(0, 0, 0, 0.1)), url(../img/call-to-action-bg.jpg) fixed center center;
  background-size: cover;
  padding: 60px 0;
}

#call-to-action h3 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

#call-to-action p {
  color: #fff;
}

#call-to-action .cta-btn {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 25px;
  transition: 0.5s;
  margin-top: 10px;
  border: 2px solid #fff;
  color: #fff;
}

#call-to-action .cta-btn:hover {
  background: $color-primary;
  border: 2px solid $color-primary;
}*/

/* Call To Action Section
--------------------------------*/
/*
#skills {
  padding: 60px 0;
}

#skills .progress {
  height: 35px;
  margin-bottom: 10px;
}

#skills .progress .skill {
  font-family: "Open Sans", sans-serif;
  line-height: 35px;
  padding: 0;
  margin: 0 0 0 20px;
  text-transform: uppercase;
}

#skills .progress .skill .val {
  float: right;
  font-style: normal;
  margin: 0 20px 0 0;
}

#skills .progress-bar {
  width: 1px;
  text-align: left;
  transition: .9s;
}
*/

/* Facts Section
--------------------------------*/
/*
#facts {
  background: url("../img/facts-bg.jpg") center top no-repeat fixed;
  background-size: cover;
  padding: 60px 0 0 0;
  position: relative;
}

#facts::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.88);
  z-index: 9;
}

#facts .container {
  position: relative;
  z-index: 10;
}

#facts .counters span {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 48px;
  display: block;
  color: $color-primary;
}

#facts .counters p {
  padding: 0;
  margin: 0 0 20px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #111;
}

#facts .facts-img {
  text-align: center;
  padding-top: 30px;
}
*/

/* Wallet Section
--------------------------------*/
.wallets {
  padding: 60px 0;
}

.wallets #portfolio-flters {
  padding: 0;
  margin: 5px 0 35px 0;
  list-style: none;
  text-align: center;
}

.wallets #portfolio-flters li {
  cursor: pointer;
  margin: 15px 15px 15px 0;
  display: inline-block;
  padding: 10px 20px;
  font-size: 12px;
  line-height: 20px;
  color: #666666;
  border-radius: 4px;
  text-transform: uppercase;
  background: #fff;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.wallets #portfolio-flters li:hover, .wallets #portfolio-flters li.filter-active {
  background: $color-primary;
  color: #fff;
}

.wallets #portfolio-flters li:last-child {
  margin-right: 0;
}

.wallets .portfolio-wrap {
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
  margin-bottom: 20px;
}

.wallets .portfolio-wrap:hover {
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.16);
}

.wallets .portfolio-item {
  position: relative;
  //height: 360px;
  overflow: hidden;
}
.wallets .portfolio-item svg{
  width:35px;
}
.wallets .portfolio-item figure {
  background: #000;
  overflow: hidden;
  //height: 240px;
  position: relative;
  border-radius: 4px 4px 0 0;
  margin: 0;
}

.wallets .portfolio-item figure:hover img {
  opacity: 0.4;
  transition: 0.3s;
}

.wallets .portfolio-item figure .link-preview, .wallets .portfolio-item figure .link-details {
  position: absolute;
  display: inline-block;
  visibility: hidden;
  line-height: 1;
  text-align: center;
  width: 36px;
  height: 36px;
  background: #fff;
  border-radius: 50%;
  transition: 0.2s;
}

.wallets .portfolio-item figure .link-preview i, .wallets .portfolio-item figure .link-details i {
  padding-top: 6px;
  font-size: 22px;
  color: #333;
}

.wallets .portfolio-item figure .link-preview:hover, .wallets .portfolio-item figure .link-details:hover {
  background: $color-primary;
}

.wallets .portfolio-item figure .link-preview:hover i, .wallets .portfolio-item figure .link-details:hover i {
  color: #fff;
}

.wallets .portfolio-item figure .link-preview {
  left: calc(50% - 38px);
  top: calc(50% - 18px);
}

.wallets .portfolio-item figure .link-details {
  right: calc(50% - 38px);
  top: calc(50% - 18px);
}

.wallets .portfolio-item figure:hover .link-preview {
  visibility: visible;
  left: calc(50% - 44px);
}

.wallets .portfolio-item figure:hover .link-details {
  visibility: visible;
  right: calc(50% - 44px);
}

.wallets .portfolio-item .portfolio-info {
  background: #fff;
  text-align: center;
  padding: 30px;
  height:210px;
  border-radius: 0 0 3px 3px;
}

.wallets .portfolio-item .portfolio-info h4 {
  font-size: 18px;
  line-height: 1px;
  font-weight: 700;
  margin-bottom: 18px;
  padding-bottom: 0;

}
.wallets .portfolio-item .portfolio-info .icons{
  padding-bottom: 15px;
  font-size:36px;
  color:$color-primary;
}
.wallets .portfolio-item .portfolio-info h4 a {
  color:$color-primary;
}

.wallets .portfolio-item .portfolio-info h4 a:hover {
  color: #333;
}

.wallets .portfolio-item .portfolio-info p {
  padding: 0;
  margin: 0;
  color: #b8b8b8;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
}

/* Community Section
--------------------------------*/
.community {
  padding: 60px 0;
}

.community img {
  max-width: 100%;
  opacity: 0.5;
  transition: 0.3s;
  padding: 15px 0;
}

.community img:hover {
  opacity: 1;
}

.community .owl-nav, .community .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.community .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
}

.community .owl-dot.active {
  background-color: $color-primary;
}

.community .owl-reddit {
  position: relative;
  top: -8px;
}

/* Testimonials Section
--------------------------------*/
/*
#testimonials {
  padding: 60px 0;
}

#testimonials .section-header {
  margin-bottom: 40px;
}

#testimonials .testimonial-item {
  text-align: center;
}

#testimonials .testimonial-item .testimonial-img {
  width: 120px;
  border-radius: 50%;
  border: 4px solid #fff;
  margin: 0 auto;
}

#testimonials .testimonial-item h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}

#testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0 0 15px 0;
}

#testimonials .testimonial-item .quote-sign-left {
  margin-top: -15px;
  padding-right: 10px;
  display: inline-block;
  width: 37px;
}

#testimonials .testimonial-item .quote-sign-right {
  margin-bottom: -15px;
  padding-left: 10px;
  display: inline-block;
  max-width: 100%;
  width: 37px;
}

#testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 auto 15px auto;
}

@media (min-width: 992px) {
  #testimonials .testimonial-item p {
    width: 80%;
  }
}

#testimonials .owl-nav, #testimonials .owl-dots {
  margin-top: 5px;
  text-align: center;
}

#testimonials .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
}

#testimonials .owl-dot.active {
  background-color: $color-primary;
}
*/

/* Team Section
--------------------------------*/
/*
#team {
  background: #fff;
  padding: 60px 0;
}

#team .member {
  text-align: center;
  margin-bottom: 20px;
  background: #000;
  position: relative;
}

#team .member .member-info {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.2s;
}

#team .member .member-info-content {
  margin-top: -50px;
  transition: margin 0.2s;
}

#team .member:hover .member-info {
  background: rgba(0, 0, 0, 0.7);
  visibility: visible;
  transition: 0.4s;
}

#team .member:hover .member-info-content {
  margin-top: 0;
  transition: margin 0.4s;
}

#team .member h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
  color: #fff;
}

#team .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
  color: #fff;
}

#team .member .social {
  margin-top: 15px;
}

#team .member .social a {
  transition: none;
  color: #fff;

}

#team .member .social a:hover {
  color: $color-primary;
}

#team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}
*/

/* Contact Section
--------------------------------*/
/*
#contact {
  padding: 60px 0;
}

#contact .contact-info {
  margin-bottom: 20px;
  text-align: center;
}

#contact .contact-info i {
  font-size: 48px;
  display: inline-block;
  margin-bottom: 10px;
  color: $color-primary;
}

#contact .contact-info address, #contact .contact-info p {
  margin-bottom: 0;
  color: #000;
}

#contact .contact-info h3 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #999;
}

#contact .contact-info a {
  color: #000;
}

#contact .contact-info a:hover {
  color: $color-primary;
}

#contact .contact-address, #contact .contact-phone, #contact .contact-email {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  #contact .contact-address, #contact .contact-phone, #contact .contact-email {
    padding: 20px 0;
  }
}

@media (min-width: 768px) {
  #contact .contact-phone {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
}

#contact .form #sendmessage {
  color: $color-primary;
  border: 1px solid $color-primary;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #sendmessage.show, #contact .form #errormessage.show, #contact .form .show {
  display: block;
}

#contact .form .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#contact .form input, #contact .form textarea {
  padding: 10px 14px;
  border-radius: 0;
  box-shadow: none;
  font-size: 15px;
}

#contact .form button[type="submit"] {
  background: $color-primary;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  cursor: pointer;
}

#contact .form button[type="submit"]:hover {
  background: #13a456;
}
*/