@import "helpers/variables";
@import "helpers/mixins";
@import "components/img-gallery";

em.underline {
  text-decoration: underline;
  font-style: normal;
}

#news {
  padding: 60px 0;
}

.post-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:not(:first-of-type) {
      margin-top: 2.5em;
    }
  }

  h2 {
    font-size: 2em;
    //margin-top: 2em;
  }

  pre {
    color: #000000;
    background: #f1f1f1;
    padding: 10px;
    border-radius: 3px;
  }

  li {
    position: relative;
    padding: 0;
    margin: 0;
  }

  img {
    max-width: 100%;
    width: auto;
  }

  ul, ol {
    margin: 0 0 30px 0;
    padding: 0 0 0 20px;
  }

  ol {
    position: relative;
    counter-reset: order_top_level;
    list-style: none;
  }

  ul {
    list-style: disc;
  }

  ul ul,
  ul ol,
  ol ol,
  ol ul {
    margin-bottom: 0;
  }

  ol ol {
    padding-left: 30px;
    counter-reset: order_sub_level;
  }

  ol > li {

    &::before {
      position: absolute;
      width: 100%;
      right: 0.5em;
      transform: translateX(-100%);
      text-align: right;
      font-style: italic;
      counter-increment: order_top_level;
      content: counter(order_top_level)'.';
    }
  }

  ol ol > li {
    &::before {
      counter-increment: order_sub_level;
      content: counter(order_top_level) '.' counter(order_sub_level) '.';
    }
  }

  .no-list-marks {
    ul {
      list-style: none;
    }

    > ul,
    > ol {
      padding-left: 0;
    }

    ol ol {
      padding-left: 20px;
    }

    ol li::before {
      content: none;
    }
  }
}

.news {
  width: 100%;

  & > li {
    border-bottom: 1px solid #e5e5e5;
    width: 100%;
    min-height: 100px;
    margin-bottom: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px;

    .lft {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      width: 0;
      border-right:1px solid #e5e5e5;
      vertical-align: top;
    }

    .tit {
      color: #666666;
      font-size: 18px;
      font-weight: bold;

      i {
        display: none;
        cursor: pointer;
      }
    }

    .cont {
      font-size: 14px;
      padding: 15px 20px 0 0;
      color: #999;
      overflow: hidden;
    }

    .top {
      cursor: pointer;
    }

    .h60 {
      height: 60px;
    }

    .rht {
      -ms-flex-negative: 0;
          flex-shrink: 0;
      padding:0 25px;
      position: relative;
      width: 190px;
      font-family: Verdana;
      word-break: keep-all;
      white-space: nowrap;
      cursor: pointer;

      i {
        position: absolute;
        color: #d7d7d7;
        right: 5px;
        font-size: 50px;
        top: 15px;

        &.ion-ios-arrow-up {
          color: #111;
        }
      }
    }
  }

  .month {
    color: $color-primary;
    line-height: 40px;
    padding-top: 5px;

    span {
      font-size: 40px;
    }
  }

  .year {
    padding-left: 3px;
    color: #b8b8b8;
  }
}

@media (max-width: 768px) {
  .news > li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    .lft {
      border-right:0!important;
      width: auto;
      position: relative;

      .tit {
        margin-right: 35px;

        i {
          display: inline-block !important;
          font-size: 16px;
          color: #777;
          padding: 2px 10px;
          position: absolute;
          top: 0;
          right: 0;

          &.ion-ios-arrow-up {
            color: #111;
          }
        }
      }
    }
  }

  .lft,.rht {
    display: block!important;
  }

  .rht {
    width: 100%;
    padding: 0!important;

    .month {
      float: left;
      line-height: 16px!important;
      font-size: 18px;

      span {
        font-size: 16px!important;
        padding-top: 0!important;
      }
    } 

    i {
      display: none;
    }
  }

  .year {
    float: left;
    line-height: 25px!important;
    color: $color-primary!important;
  }
}

.all {
  display: none;
  color: #333333!important;
}

.pagination {
  margin: 50px auto 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

  a,span,em {
    padding: 3px 10px;
    margin-right: 5px;
  }

  a {
    color: #777;
  }

  span {
    color: #b8b8b8;
  }

  em, a:hover{
    background: $color-primary;
    color: #fff;
    font-style: normal;
  }

  .page-numbers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    @include bp-max(550px) {
      width: 100%;
      margin: 10px 0;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
  }
}