.ques-list {
  margin-bottom: 100px;

  th {
    padding: 0 20px;
    background: #f5f5f5;
    line-height: 70px;
  }

  td {
    background: #fff;
    padding: 0 20px;
    border-bottom: 1px solid #eee;
  }

  tr td:nth-child(2) {
    word-break: break-all;
    word-wrap: break-word;
  }

  tr:hover td {
    background: #fbfbfb;
  }

  tbody tr:nth-child(1) td, tbody tr:nth-child(2) td, tbody tr:nth-child(3) td {
    padding: 20px;
  }

  tbody tr:nth-child(1):hover td, tbody tr:nth-child(2):hover td, tbody tr:nth-child(3):hover td {
    background: #ecf3fa;
  }
}

.li {
  position: relative;

}

.ques-card-list1:before {
  position: absolute;
  z-index: 2;
  top: 4px;
  left: 20px;
  display: block;
  content: '';
  background-position: -115px -44px;
  width: 20px;
  height: 20px;
  background-image: url("../images/icon-body.png");
}

.ques-card-list1 .ques-list-image {
  color: #ff6314 !important;
}

.ques-card-list2 .ques-list-image {
  color: #ffbd24 !important;
}

.ques-card-list3 .ques-list-image {
  color: #4c8dfc !important;
}

.ques-card-list3:before {
  position: absolute;
  z-index: 2;
  top: 4px;
  left: 20px;
  display: block;
  content: '';
  background-position: -115px -88px;
  width: 20px;
  height: 20px;
  background-image: url("../images/icon-body.png");
}

.ques-card-list li:after {
  position: absolute;
  bottom: 0;
  left: 10px;
  display: block;
  width: 100%;
  height: 1px;
  content: '';
  background-color: #ededed;
}

.ques-list-box {
  position: relative;
  display: block;
  padding: 16px 0 17px;
}

.ques-list-head {
  position: relative;
}

.ques-list-image {
  position: relative;
  display: block;
  width: 32px;
  z-index: 2;
  margin: 0 auto;
  text-align: center;
  line-height: 34px;
  font-weight: bold;
  color: #ccc;
}

.ques-list-image:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  content: '';
  border: 2px solid #ccc;

  border-radius: 100%;
}

.ques-card-list2:before {
  background-position: -115px -66px;
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 2;
  top: 4px;
  left: 20px;
  display: block;
  content: '';
  background-image: url("../images/icon-body.png");
}



.tasklist {
  img{
    width: 35px;
    display: inline-block;
    padding-right: 10px;
  }

  td {
    background: #fff;
    padding: 20px;
    border-bottom: 1px solid #eee;

  }

  &>tr td:nth-child(2) {
    word-break: break-all;
    word-wrap: break-word;
  }

  tr:hover td {
    background: #fbfbfb;
  }

  tr:nth-child(even) td {
    background:#f5f5f5;
    border-bottom: 0;
  }
  .nowrap{

    .total{
      border: 1px solid #eee;
      border-bottom: 0;
      font-size: 12px;
      text-align: center;
      padding:15px 20px;
      span{
        font-size: 16px;
        font-weight: bold;
        white-space:nowrap;
        color: #428bca;
      }
    }
    button{
      display: inline-block;
      white-space:nowrap;
      color:  #428bca;
      border: 1px solid #428bca;
      width: 100%;
      font-size: 12px;
      background: #fff;
      outline: none;
      text-align: center;
    }
  }
}
.task-list {
  border: 1px solid #eee;
  margin-bottom: 40px;
  .fwb{
    //font-weight: bold;
    text-align: center;
    background: #f5f5f5!important;
  }

  td {
    background: #fff!important;
    padding: 10px 20px;
    border: 1px solid #eee;
    word-wrap:break-word!important;
    word-break:normal!important;
    span{
      color: #4c8dfc ;
    }
  }

  tr:nth-child(1) td {
    text-align: center;
    //font-weight: bold;
    padding: 20px 0;
    background: #f5f5f5!important;
  }

}
.gray{
  background:#f5f5f5;
  padding-bottom: 100px;
}

@media (min-width: 769px) {
  .tdnowrap{
    white-space:nowrap;
  }
}
@media (max-width: 768px) {
  .task-list {

    td{
      word-break: break-all!important;
      word-wrap: break-word!important;
      padding:5px!important;
    }
  }
  .tdnowrap{
    word-break: break-all!important;
    word-wrap: break-word!important;
  }
}
.progressbg{
  background: #1edb89;
  color: #ffffff!important;
  display: inline-block;
  padding: 0 5px;
  margin-right: 10px;
}
