$spacing: 3px;
$padded: 25%;

.img-gallery {
  margin: 60px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.img-gallery__item {
  position: relative;
  flex-grow: 1;
  max-width: calc(100% - #{$spacing * 2});
  min-width: calc(100% - #{$spacing * 2});
  overflow: hidden;
  background-size: cover;
  background-position: center;
  margin: $spacing;
  background-color: #dddddd;

  @include bp-min(460px) {
    min-width: calc(50% - #{$spacing * 2});
  }

  @include bp-min(992px) {
    max-width: calc(50% - #{$spacing * 2});
    min-width: calc(33% - #{$spacing * 2});
  }

  &::before {
    display: block;
    content: '';
    padding-top: 50%;
    padding-bottom: 50%;
    width: 100%;
  }

  @at-root .img-gallery--equal-size & {
    flex-grow: 0;

    @include bp-min(1200px) {
      max-width: calc(33% - #{$spacing * 2});
      min-width: calc(25% - #{$spacing * 2});
    }
  }
}

.img-gallery__img {
  position: absolute;
  background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: transform 0.5s ease;

  @at-root .img-gallery--small & {
    top: $padded;
    left: $padded;
    bottom: $padded;
    right: $padded;
  }

  @at-root .img-gallery__item:hover & {
    transform: scale(1.07);
  }
}