.img-gallery {
  margin: 60px 0;
  display: flex;
  flex-wrap: wrap;
}

$spacing: 3px;

.img-gallery__item {
  position: relative;
  flex-grow: 1;
  max-width: calc(100% - #{$spacing * 2});
  min-width: calc(100% - #{$spacing * 2});
  overflow: hidden;
  background-size: cover;
  background-position: center;
  margin: $spacing;

  @include bp-min(460px) {
    min-width: calc(50% - #{$spacing * 2});
  }

  @include bp-min(992px) {
    max-width: calc(50% - #{$spacing * 2});
    min-width: calc(33% - #{$spacing * 2});
  }

  &::before {
    display: block;
    content: '';
    padding-top: 50%;
    padding-bottom: 50%;
    width: 100%;
  }
}

.img-gallery__img {
  position: absolute;
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;

  &:hover {
    transform: scale(1.07);
  }
}