/*--------------------------------------------------------------
# Roadmap
--------------------------------------------------------------*/

// Dark Theme
/*
$text-color: rgba(255, 255, 255, 0.85);
$vline-color: #428bca;
$text-date-color: #fff;
$header-color: #fff;
$hline-color: rgba(255, 255, 255, 0.85);
$hline-circle-color: $hline-color;
$vline-secondary-color: rgba(165, 245, 255, 0.72);
$vline-circle-color: $vline-color;
*/

// Light Theme

$text-color: #333;
$text-date-color: #162a38;
$header-color: #000;

$hline-color: #444;
$hline-circle-color: $color-primary;
$hline-width: 8px;
$hline-circle-width: 20px;
$hline-spacing: 16px;

$vline-color: rgba(0, 0, 0, 0.15);
$vline-done-color: #333;
$vline-circle-color: #333;
$vline-circle-active-color: #fff;
$vline-width: 8px;
$vline-circle-width: 20px;
$vline-spacing: 16px;

$cline-color: $vline-color;
$cline-secondary-color: $color-primary;
$cline-circle-color: $color-primary;
$cline-width: 4px;
$cline-circle-width: 8px;
$cline-spacing: 8px;


$font-stack-primary: 'Open Sans', arial, sans-serif;
$font-stack-secondary: 'Open Sans', arial, sans-serif;


$md-screen: 650px;
$lg-screen: 1200px;

@keyframes down {
  from {
    opacity: 0;
    transform: translateY(-300px);
  } to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes right {
  from {
    opacity: 0;
    transform: translateX(-300px);
  } to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes strokeoffset {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.roadmap {
  position: relative;
  overflow: hidden;
  color: #333;
  background: #f7f7f7;

  @include bp-max($md-screen) {
    height: auto !important;
  }

  @include bp-min($md-screen) {
    display: flex;
  }

  &::after {
    content: '';
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../images/roadmap-circles.svg) no-repeat;
    background-position: left top;
    background-size: cover;
    opacity: 0.08;
    pointer-events: none;
  }

  .owl-item {
    &:first-child {
      .roadmap__timeframe::before {
        background: linear-gradient(to left, $hline-color, transparent);
      }
    }

    &:last-child {
      .roadmap__timeframe::after {
        background: linear-gradient(to right, $hline-color, transparent);
      }
    }
  }

  .owl-stage-outer {
    @include bp-min($md-screen) {
      height: auto !important;
    }
  }

  .owl-dots {
    display: none;
  }
}

.roadmap__header {
  position: relative;
  z-index: 3;
  width: 100%;
  padding-top: 60px;

  @include bp-min($md-screen) {
    position: absolute;
    left: 0;
  }
}

.roadmap__timeline {
  margin: 0;
  list-style: none;

  @include bp-min($md-screen) {
    width: 0;
    flex-grow: 1;
  }

  @at-root .no-js & {
    @include bp-min($lg-screen) {
      display: flex;
      -webkit-overflow-scrolling: touch;
      overflow-x: scroll;
    }
  }
}

.roadmap__timeframe {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 100px;


  @include bp-max($md-screen) {
    padding-top: 60px;
  }

  @include bp-min($md-screen) {
    padding-top: 160px;
    padding-bottom: 120px;
  }

  @include bp-max($lg-screen) {
    flex-direction: column;
    align-items: flex-end;
    padding-right: 5vw;
  }

  @include bp-min($lg-screen) {
    padding-top: 320px;
  }

  &::before,
  &::after {
    content: '';
    position: relative;
    height: $hline-width;
    top: -$hline-width / 2;
    width: 0;
    flex-grow: 1;
    background: $hline-color;
  }

  @at-root .no-js & {
    @include bp-min($lg-screen) {
      flex-shrink: 0;
      width: 100%;
    }

    &:not(:first-child) {
      @include bp-max($lg-screen) {
        padding-top: 0;
      }
    }
  }
}

.roadmap__content {
  $spacing: $hline-circle-width / 2 + $hline-spacing;
  $half: $hline-width / 2;

  position: relative;
  padding: 20px;
  width: 100%;
  list-style: none;

  @include bp-min($md-screen) {
    max-width: 50vw;
  }

  @include bp-max($lg-screen) {
    display: flex;
    min-height: 180px;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: calc(15vw - 16px);
  }

  @include bp-min($lg-screen) {
    padding-top: $hline-width + 115px;
    width: 25%;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    background: $hline-color;
  }

  &::before {
    @include bp-max($lg-screen) {
      top: $spacing;
      right: -$half;
      bottom: $spacing;
      width: $hline-width;
      border-radius: $half;
    }

    @include bp-min($lg-screen) {
      top: -$half;
      right: calc(50% + #{$spacing});
      left: 0;
      height: $hline-width;
      border-radius: 0 $half $half 0;
    }
  }

  &::after {
    @include bp-max($lg-screen) {
      content: none;
      top: calc(50% + #{$spacing});
      right: -$half;
      bottom: 0;
      height: $hline-width;
      border-radius: $half $half 0 0;
    }

    @include bp-min($lg-screen) {
      top: -$half;
      right: 0;
      left: calc(50% + #{$spacing});
      height: $hline-width;
      border-radius: $half 0 0 $half;
    }
  }

  &:nth-of-type(3n - 2) {
    .roadmap__swirly path {
      animation-delay: -2s;
    }
  }

  &:nth-of-type(3n - 1) {
    .roadmap__swirly path {
      animation-delay: -4s;
    }
  }

  &:hover {
    path {
      animation-play-state: running;
    }
  }
}

.roadmap__nav {
  position: relative;
  z-index: 2;
  background: $color-primary;
  color: $text-color;
  clip-path: polygon(0 0, 100% 10px, 100% calc(100% - 6px), 0 100%);

  @include bp-min($md-screen) {
    flex-shrink: 0;
    margin-right: -30px;
    clip-path: polygon(0 0, calc(100% - 30px) 0%, 100% 100%, 0% 100%);
  }
}

.roadmap__nav-list {
  list-style: none;
  margin: 0;
  padding: 10px 10px 80px;

  @include bp-max($md-screen) {
    width: 100%;

    @supports (display: grid) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-flow: dense;
    }
  }

  @include bp-min($md-screen) {
    padding: 160px calc(5vw + 30px) 100px calc(5vw);
  }
}

.roadmap__nav-item {
  $padding: 25px;
  $vline-edge-spacing: $vline-circle-width / 2 + $vline-spacing - $padding / 2;
  position: relative;
  z-index: 1;
  padding: $padding 0;
  transform-origin: left;
  transition: transform 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  transition: color 0.2s ease;

  @include bp-max($md-screen) {
    padding: 30px 0;

    @supports (display: grid) {
      padding: 60px 0 0 0;
      align-items: flex-end;
      display: flex;
    }
  }

  &:first-child {
    @supports (display: grid) {
      padding-top: 0px;
    }

    .roadmap__vline {
      &::before {
        content: none;
      }

      &::after {
        top: calc(50% + #{$vline-edge-spacing});
      }
    }
  }

  &:last-child {
    padding-bottom: 0px;

    .roadmap__vline {
      &::before {
        bottom: calc(50% + #{$vline-edge-spacing});
      }

      &::after {
        @include bp-min($md-screen) {
          content: none;
        }
      }
    }
  }

  &:nth-child(7n - 6) .roadmap__nav-link,
  &:nth-child(7n - 1) .roadmap__nav-link,
  &:nth-child(7n) .roadmap__nav-link {
    @include bp-max($md-screen) {
      @supports (display: grid) {
        flex-direction: row-reverse;
        text-align: right;
      }
    }
  }

  &:nth-child(3n - 1) {
    @include bp-max($md-screen) {
      @supports (display: grid) {
        align-items: center;
      }
    }

    .roadmap__nav-link {
      @include bp-max($md-screen) {
        @supports (display: grid) {
          flex-direction: column-reverse;
          text-align: center;
          align-items: center;
        }
      }
    }

    .roadmap__vline {
      $spacing: $hline-circle-width / 2 + $hline-width;

      &::before,
      &::after {
        @include bp-max($md-screen) {
          top: auto;
          bottom: $hline-circle-width / 2 - $hline-width / 2;
          height: $hline-width;
          width: auto;
          border-radius: $hline-width / 2;
        }
      }

      &::after {
        @include bp-max($md-screen) {
          right: 0;
          left: calc(50% + #{$spacing});
        }
      }

      &::before {
        @include bp-max($md-screen) {
          left: 0;
          right: calc(50% + #{$spacing});
        }
      }
    }
  } 

  &:not(:nth-child(3n - 1)) .roadmap__vline {
    @include bp-max($md-screen) {
      display: none;
    }
  }

  &:nth-child(7n - 3) .roadmap__vline,
  &:nth-child(7n) .roadmap__vline {
    @include bp-max($md-screen)  {
      display: block;
    }

    &::before {
      // TODO - calc values from variables
      @include bp-max($md-screen)  {
        bottom: 28px;
        top: 8px;
        left: 16px;
        border-radius: $hline-width / 2;
      }
    }

    &::after {
      @include bp-max($md-screen)  {
        content: none;
      }
    }
  }

  &:nth-child(7n) .roadmap__vline {
    &::before {
      // TODO - calc values from variables
      @include bp-max($md-screen)  {
        left: auto;
        right: 16px;
      }
    }

  }

  &:nth-child(7n - 3) {
    @include bp-max($md-screen) {
      grid-column: 3;
    }
  }

  &:nth-child(7n - 2) {
    @include bp-max($md-screen) {
      grid-column: 2;
    }
  }

  &--progress {
    .roadmap__vline {
      &::before,
      &::after {
        background: $vline-done-color;
      }
    }
  }
}

.roadmap__nav-link {
  display: flex;
  align-items: center;
  padding: 10px 0;
  cursor: pointer;
  line-height: 1.3;
  color: $text-color;

  @include bp-max($md-screen) {
    width: 100%;
    align-items: flex-end;
    padding: 0;
  }

  &::before {
    content: '';
    flex-shrink: 0;
    left: 0px;
    margin-right: 10px;
    border-radius: 50%;
    width: $vline-circle-width;
    height: $vline-circle-width;
    background: $vline-circle-color;
    transition: background 0.2s ease;

    @include bp-max($md-screen) {
      margin: 0 10px;
      margin-top: 3px;
    }
  }

  @at-root .js &--active {
    color: $vline-circle-active-color;

    &::before {
      transform: scale(1.1);
      background: $vline-circle-active-color;
    }
  }
}

.roadmap__date {
  position: absolute;
  width: 100%;
  margin: 0;
  font-size: 18px;
  color: $text-date-color;
  text-transform: uppercase;

  @include bp-max($lg-screen) {
    right: -100%;
    bottom: 10px + $hline-spacing + $hline-circle-width / 2;
    transform: rotateZ(-90deg) translate(0, -10px);
    transform-origin: bottom left;
  }

  @include bp-min($lg-screen) {
    top: -50px;
    left: 0;
    text-align: center;
  }
}

.roadmap__events {
  list-style: none;

  @include bp-max($lg-screen) {
    padding-right: 15vw;
  }

  &::after {
    content: '';
    position: absolute;
    width: $hline-circle-width;
    height: $hline-circle-width;
    background: $hline-circle-color;
    border-radius: 50%;

    @include bp-max($lg-screen) {
      bottom: 0;
      right: 0;
      transform: translate(50%, 50%);
    }

    @include bp-min($lg-screen) {
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.roadmap__event {
  position: relative;

  @include bp-max($lg-screen) {
    text-align: right;
    padding-right: 30px;
    padding-top: 20px;
  }

  @include bp-min($lg-screen) {
    display: flex;
    padding-bottom: 20px;
  }

  &::before {
    content: '';
    border-radius: 50%;
    width: $cline-circle-width;
    height: $cline-circle-width;
    background: $cline-circle-color;

    @include bp-max($lg-screen) {
      position: absolute;
      bottom: 7px;
      right: 12px;
    }

    @include bp-min($lg-screen) {
      flex-shrink: 0;
      margin-top: 8px;
      margin-right: 10px;
    }
  }

  &::after {
    content: '';
    position: absolute;
    width: $cline-width;
    background: $cline-color;
    border-radius: $cline-width / 2;

    @include bp-max($lg-screen) {
      top: 0px;
      right: 14px;
      bottom: 20px;
    }

    @include bp-min($lg-screen) {
      top: $cline-circle-width + $cline-spacing + 8px;
      bottom: 0;
      left: $cline-circle-width / 2 - $cline-width / 2;
    }
  }

  &:first-child {
    .roadmap__cline::before {
      content: none;
    }
  }

  &:last-child {
    .roadmap__cline::after {
      content: none;
    }
  }
}

.roadmap__vline {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;

  @include bp-max($md-screen) {
    @supports not (display: grid) {
      display: none !important;
    }
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: $vline-circle-width / 2 - $vline-width / 2;
    width: $vline-width;
    background: $vline-color;
  }

  &::before {
    top: 0;
    bottom: calc(50% + #{$vline-circle-width} / 2 + #{$vline-spacing});
    border-radius: 0 0 $vline-width / 2 $vline-width / 2;
  }

  &::after {
    top: calc(50% + #{$vline-circle-width} / 2 + #{$vline-spacing});
    bottom: 0;
    border-radius: $vline-width / 2 $vline-width / 2 0 0;
  }
}

.roadmap__swirly {
  position: absolute;

  @include bp-max($lg-screen) {
    height: 15vw;
    width: 15vw;
    bottom: -$hline-width / 2;
    right: $hline-circle-width / 2 + $hline-spacing;
    transform: rotateY(180deg) rotateX(180deg) rotateZ(-90deg);
  }

  @include bp-min($lg-screen) {
    height: 100px;
    top: $hline-circle-width + $hline-width / 2;
    // Magic numbers to make the svg line up properly after scaling with preserveAspectRatio="none"
    left: calc(-3% + 26px);
    width: calc(53% - 20px);
  }




  /*@include smallscreen {
    height: 155px - $vline-spacing;
    bottom: 0;
    // Magic numbers to make the svg line up properly after scaling with preserveAspectRatio="none"
    left: calc(-6% + 36px);
    width: calc(106% - 64px);
  }*/

  path {
    stroke-width: 4px;
    stroke: $cline-color;
    stroke-linecap: round;
    fill-opacity: 0;
    vector-effect: non-scaling-stroke;
    stroke-dashoffset: 0;
    stroke-dasharray: 50;
    -webkit-animation: strokeoffset 25s linear infinite;
            animation: strokeoffset 25s linear infinite;
    -webkit-animation-play-state: paused;
            animation-play-state: paused;

    &:nth-of-type(1) {
      stroke-dasharray: 0;
      -webkit-animation: none;
              animation: none;
    }

    &:nth-of-type(2) {
      stroke: $cline-secondary-color;
    }
  }
}
