<!DOCTYPE html>
<html>
<head>
    {% include head.html %}
    <script src="{{site.url}}/assets/js/aframe22.min.js"></script>
</head>

<body>
{% include banner.html %}

<section class="service_section layout_padding">
    <div class="service_container">
        <div class="container ">
            <div class="heading_container heading_center">
                <h2>
                    Our Software
                </h2>
                <p>
                    Download links for applications that interact with the XDAG network.
                </p>
            </div>
            <div class="row rowTable">
                <div class="col-md-6 col-lg-6 ">
                    <div class="box ">
                        <div class="img-box">
                            <!--                            <img src="images/s1.png" alt="">-->
                            <i class="fa fa-android"></i>
                        </div>
                        <div class="detail-box">
                            <h5>
                                New Wallet

                            </h5>
                            <p>
                                It work for new wallet address which created later than 0.6.0 mainnet.<br/>
                                Support: Android, Windows ( IOS, Lunix, MacOS later)
                            </p>
<!--                            <a href="{{site.data.software.windows64}}" target="_blank">-->
<!--                                Windows 64-bit wallet (X64)-->
<!--                            </a>-->
                            <a href="https://github.com/XDagger/XDAG-Pro/releases" target="_blank">
                               Download
                            </a>
<!--                            <a href="{{site.data.software.windows32}}" target="_blank">-->
<!--                                Windows 32-bit wallet (X86)-->
<!--                            </a>-->
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 ">
                    <div class="box ">
                        <div class="img-box">

                            <i class="fa fa-windows"></i>
                        </div>
                        <div class="detail-box">
                            <h5>
                                Old Wallet
                            </h5>
                            <p>
                                It work for old address which created ealier than 0.6.0 mainnet and new created address.<br/>
                                Support: Windows, Linux, MacOS

                            </p>
<!--                            <a href="{{site.data.software.android}}" target="_blank">-->
<!--                                Download-->
<!--                            </a>-->
                            <a href="https://github.com/XDagger/goXdagWallet/releases/tag/0.6.6" target="_blank">
                                Download (Old PC Wallet)
                            </a>

                        </div>
                    </div>
                </div>
<!--                <div class="col-md-6 col-lg-3 ">-->
<!--                    <div class="box ">-->
<!--                        <div class="img-box">-->
<!--                            <i class="fa fa-apple"></i>-->
<!--                        </div>-->
<!--                        <div class="detail-box">-->
<!--                            <h5>-->
<!--                                iOS & MAC wallet-->
<!--                            </h5>-->
<!--                            <p>-->
<!--                                IOS WALLET &  MACOS COMMAND LINE WALLET.-->
<!--                            </p>-->
<!--&lt;!&ndash;                            <a href="{{site.data.software.ios}}" target="_blank">&ndash;&gt;-->
<!--&lt;!&ndash;                                IOS wallet&ndash;&gt;-->
<!--&lt;!&ndash;                            </a>&ndash;&gt;-->
<!--                            <a href="{{site.data.software.mac}}" target="_blank">-->
<!--                                MacOS wallet-->
<!--                            </a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-6 col-lg-3 ">-->
<!--                    <div class="box ">-->
<!--                        <div class="img-box">-->
<!--                            <i class="fa fa-desktop"></i>-->
<!--                        </div>-->
<!--                        <div class="detail-box">-->
<!--                            <h5>-->
<!--                                Linux wallet-->
<!--                            </h5>-->
<!--                            <p>-->
<!--                                Linux COMMAND LINE WALLET.-->
<!--                            </p>-->
<!--                            <a href="{{site.data.software.linux}}" target="_blank">-->
<!--                                Download-->
<!--                            </a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
    </div>
</section>


<section class="about_section about_section1 layout_padding-bottom">
    <div class="container  ">
        <div class="row">
            <div class="col-lg-6 ">
                <div class="img-box bgTop">
                    <div class="SubmitTitle">Submit a Proposal</div>
                    <a href=" https://trello.com/b/nlSBXa2d/xps" target="_blank">

                        <img src="{{site.url}}/assets/images/img4.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-6 miners">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            Mining <span>Software</span>
                        </h2>
                    </div>
                    <ul>
                        <li>
                            <div class="iconBrdr">
                                <span>
                                   <i class="fa fa-windows"></i>
                                </span>

                            </div>
                            <div>
                                <div class="Mtitle">
                                    <a href="https://github.com/FSOL-XDAG/xmrig-4-xdag/releases" target="_blank">XDAG CPU miner</a>
                                </div>
                                <div>
                                    Download the XDAG RANDOMX CPU MINER for XDAG . It support Windows Linux and MAC OS.
                                </div>
                            </div>
                        </li>
                        <li data-toggle="modal" data-target="#pools" class="pools">
                            <div class="iconBrdr">
                                <span>
                                     <i class="fa fa-list-ul"></i>
                                </span>

                            </div>
                            <div>
                                <div class="Mtitle"><span >POOL</span ></div>
                                <div>
                                    You can connect to a featured pool or check the available Pools’information.
                                </div>

                            </div>
                        </li>
                        <li data-toggle="modal" data-target="#pools" class="pools">
                            <div class="iconBrdr">
                                <span>
                                     <i class="fa fa-list-ul"></i>
                                </span>

                            </div>
                            <div>
                                <div class="Mtitle">
                                    <a href="https://github.com/XDagger/xmrig2xdag/releases" target="_blank">XDAG proxy</a>
                                </div>
                                <div>
                                    XMRig2XDAG is translator between XMR stratum protocol and XDAG mining protocol.
                                </div>

                            </div>
                        </li>
                    </ul>

                    <div class="modal fade" id="pools" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel"><img src="{{site.url}}/assets/images/prize/{{ d.index % 6}}.png" alt="" >POOLS LIST</h5>
                                    <span type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </span>
                                </div>
                                <div class="modal-body">

                                    <table width="100%" cellpadding="0" cellspacing="0" class="task-list">
                                        <tr>
                                            <td class="tdnowrap">Name</td>
                                            <td class="tdnowrap">Website</td>
                                            <td class="tdnowrap">POOL Address</td>
                                            <td class="tdnowrap">Fee</td>
                                            <td class="tdnowrap">Mode</td>
                                        </tr>

                                        <tr>
                                            <td rowspan="8">Worldwide pool</td>
                                            <td rowspan="8">
                                                <a href="https://xdag.org" target="_blank">https://xdag.org</a><br/>
                                            </td>
                                            <td>pool.xdag.org:13656<i class="fa fa-copy" onclick="copyAddress('pool.xdag.org:13656')"  data-toggle="tooltip" data-placement="top" title="Address copied to Clipboard" data-trigger="click"></i></td>
                                            <td rowspan="8">2%</td>
                                            <td>equal</td>
                                        </tr>
                                        <tr>
                                            <td>pool.xdag.org:13655<i class="fa fa-copy" onclick="copyAddress('pool.xdag.org:13655')"  data-toggle="tooltip" data-placement="top" title="Address copied to Clipboard" data-trigger="click"></i></td>
                                            <td>solo</td>
                                        </tr>
                                        <tr>
                                            <td>pool.xdag.org:14655<i class="fa fa-copy" onclick="copyAddress('pool.xdag.org:14655')"  data-toggle="tooltip" data-placement="top" title="Address copied to Clipboard" data-trigger="click"></i></td>
                                            <td>solo2</td>
                                        </tr>
                                        <tr>
                                            <td>pool.xdag.org:14656<i class="fa fa-copy" onclick="copyAddress('pool.xdag.org:14656')"  data-toggle="tooltip" data-placement="top" title="Address copied to Clipboard" data-trigger="click"></i></td>
                                            <td>equal2</td>
                                        </tr>
                                        <tr>
                                            <td>stratum.xdag.org:23655<i class="fa fa-copy" onclick="copyAddress('stratum.xdag.org:23655')"  data-toggle="tooltip" data-placement="top" title="Address copied to Clipboard" data-trigger="click"></i></td>
                                            <td>stratum solo</td>
                                        </tr>
                                        <tr>
                                            <td>stratum.xdag.org:23656<i class="fa fa-copy" onclick="copyAddress('stratum.xdag.org:23656')"  data-toggle="tooltip" data-placement="top" title="Address copied to Clipboard" data-trigger="click"></i></td>
                                            <td>stratum equal</td>
                                        </tr>
                                        <tr>
                                            <td>stratum.xdag.org:24655<i class="fa fa-copy" onclick="copyAddress('stratum.xdag.org:24655')"  data-toggle="tooltip" data-placement="top" title="Address copied to Clipboard" data-trigger="click"></i></td>
                                            <td>stratum solo2</td>
                                        </tr>
                                        <tr>
                                            <td>stratum.xdag.org:24656<i class="fa fa-copy" onclick="copyAddress('stratum.xdag.org:24656')"  data-toggle="tooltip" data-placement="top" title="Address copied to Clipboard" data-trigger="click"></i></td>
                                            <td>stratum equal2</td>
                                        </tr>
                                        <tr>
                                            <td rowspan="2" >Doctor Wang</td>
                                            <td rowspan="2"><a href="http://info.xdagmine.com" target="_blank">http://info.xdagmine.com</a></td>
                                            <td>xdagmine.com:13654<i class="fa fa-copy" onclick="copyAddress('xdagmine.com:13654')"  data-toggle="tooltip" data-placement="top" title="Address copied to Clipboard" data-trigger="click"></i></td>
                                            <td rowspan="2">3%</td>
                                            <td>solo</td>
                                        </tr>
                                        <tr>
                                            <td>xdagmine.com:3232<i class="fa fa-copy" onclick="copyAddress('xdagmine.com:3232 ')"  data-toggle="tooltip" data-placement="top" title="Address copied to Clipboard" data-trigger="click"></i></td>
                                            <td>stratum solo</td>
                                        </tr>
                                    </table>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include roadmap.html %}

{% include task.html %}

{% include footer.html %}
<script src="{{site.url}}/assets/js/particles.min.js"></script>
<!-- custom js -->
<script src="{{site.url}}/assets/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="{{site.url}}/assets/lib/easing/easing.min.js"></script>
<script src="{{site.url}}/assets/js/custom.js"></script>

<script>
    particlesJS.load('particles-js', '{{site.url}}/assets/js/particles.json', function() {
        console.log('callback - particles.js config loaded');
    });
</script>
</body>

</html>
