<!DOCTYPE html>
<html>
<head>
    {% include head.html %}
    <script src="{{site.url}}/assets/js/aframe22.min.js"></script>
</head>

<body>
{% include banner.html %}

<section class="service_section layout_padding">
    <div class="service_container">
        <div class="container ">
            <div class="heading_container heading_center">
                <h2>
                    XDAG Wallet
                </h2>
                <p>
                    Download links for applications that interact with the XDAG network.
                </p>
            </div>
            <div class="row rowTable">
                <div class="col-md-4 col-lg-4 ">
                    <div class="box ">
                        <div class="img-box">
                            <!--                            <img src="images/s1.png" alt="">-->
                            <i class="fa fa-apple"></i>
                        </div>
                        <div class="detail-box">
                            <h5>
                                IOS
                            </h5>
                            <p>
                                XDAG Pro wallet for IOS
                            </p>

                            <a href="https://apps.apple.com/hk/app/xdag-pro/id6458534585" target="_blank">
                               Ios wallet
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 ">
                    <div class="box ">
                        <div class="img-box">
                            <!--                            <img src="images/s1.png" alt="">-->
                            <i class="fa fa-android"></i>
                        </div>
                        <div class="detail-box">
                            <h5>
                                Android
                            </h5>
                            <p>
                                XDAG Pro wallet for android

                            </p>
                            <a href="https://github.com/XDagger/XDAG-Pro/releases/download/1.0.19-20/xdag-pro-1.0.19+20.apk" target="_blank">
                                XDAG Pro wallet for android(APK)
                            </a>
                            <a href="https://play.google.com/store/apps/details?id=com.xdag.io" target="_blank">
                                XDAG Pro wallet for android(GooglePlay)
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 ">
                    <div class="box ">
                        <div class="img-box">
                            <!--                            <img src="images/s1.png" alt="">-->
                            <i class="fa fa-windows"></i>
                        </div>
                        <div class="detail-box">
                            <h5>
                                PC
                            </h5>
                            <p>
                                XDAG wallet for PC
                            </p>
                            <a href="https://github.com/XDagger/XDAG-Pro/releases/download/1.0.20-21/xdag-pro-1.0.20-21.zip" target="_blank">
                                XDAG Pro wallet for Windows(Recommend)
                            </a>
                            <a href="https://github.com/XDagger/goXdagWallet/releases/tag/0.6.7" target="_blank">
                                XDAG GoWallet (For mainnet<0.6.0 old address)
                            </a>
                        </div>
                    </div>
                </div>
<!--                <div class="col-md-6 col-lg-6 ">-->
<!--                    <div class="box ">-->
<!--                        <div class="img-box">-->

<!--                            <i class="fa fa-windows"></i>-->
<!--                        </div>-->
<!--                        <div class="detail-box">-->
<!--                            <h5>-->
<!--                                XDAG goWallet-->
<!--                            </h5>-->
<!--                            <p>-->
<!--                                It work for old address which created ealier than 0.6.0 mainnet and new created address.<br/>-->
<!--                                Support: Windows, Linux, MacOS-->

<!--                            </p>-->
<!--&lt;!&ndash;                            <a href="{{site.data.software.android}}" target="_blank">&ndash;&gt;-->
<!--&lt;!&ndash;                                Download&ndash;&gt;-->
<!--&lt;!&ndash;                            </a>&ndash;&gt;-->
<!--                            <a href="https://github.com/XDagger/goXdagWallet/releases/tag/0.6.6" target="_blank">-->
<!--                                Download (Old PC Wallet)-->
<!--                            </a>-->

<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-6 col-lg-3 ">-->
<!--                    <div class="box ">-->
<!--                        <div class="img-box">-->
<!--                            <i class="fa fa-apple"></i>-->
<!--                        </div>-->
<!--                        <div class="detail-box">-->
<!--                            <h5>-->
<!--                                iOS & MAC wallet-->
<!--                            </h5>-->
<!--                            <p>-->
<!--                                IOS WALLET &  MACOS COMMAND LINE WALLET.-->
<!--                            </p>-->
<!--&lt;!&ndash;                            <a href="{{site.data.software.ios}}" target="_blank">&ndash;&gt;-->
<!--&lt;!&ndash;                                IOS wallet&ndash;&gt;-->
<!--&lt;!&ndash;                            </a>&ndash;&gt;-->
<!--                            <a href="{{site.data.software.mac}}" target="_blank">-->
<!--                                MacOS wallet-->
<!--                            </a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-6 col-lg-3 ">-->
<!--                    <div class="box ">-->
<!--                        <div class="img-box">-->
<!--                            <i class="fa fa-desktop"></i>-->
<!--                        </div>-->
<!--                        <div class="detail-box">-->
<!--                            <h5>-->
<!--                                Linux wallet-->
<!--                            </h5>-->
<!--                            <p>-->
<!--                                Linux COMMAND LINE WALLET.-->
<!--                            </p>-->
<!--                            <a href="{{site.data.software.linux}}" target="_blank">-->
<!--                                Download-->
<!--                            </a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
    </div>
</section>


<section class="about_section about_section1 layout_padding-bottom">
    <div class="container  ">
        <div class="row">
            <div class="col-lg-6 ">
                <div class="img-box bgTop">
                    <div class="SubmitTitle">Submit a Proposal</div>
                    <a href=" https://trello.com/b/nlSBXa2d/xps" target="_blank">

                        <img src="{{site.url}}/assets/images/img4.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-6 miners">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            Mining <span>Software</span>
                        </h2>
                    </div>
                    <ul>
                        <li>
                            <div class="iconBrdr">
                                <span>
                                   <i class="fa fa-windows"></i>
                                </span>

                            </div>
                            <div>
                                <div class="Mtitle">
                                    <a href="https://github.com/FSOL-XDAG/xmrig-4-xdag/releases" target="_blank">XDAG CPU miner</a>
                                </div>
                                <div>
                                    Download the XDAG RANDOMX CPU MINER for XDAG . It support Windows Linux and MAC OS.
                                </div>
                            </div>
                        </li>
<!--                        <li data-toggle="modal" data-target="#pools" class="pools">-->
<!--                            <div class="iconBrdr">-->
<!--                                <span>-->
<!--                                     <i class="fa fa-list-ul"></i>-->
<!--                                </span>-->

<!--                            </div>-->
<!--                            <div>-->
<!--                                <div class="Mtitle"><span >POOL</span ></div>-->
<!--                                <div>-->
<!--                                    You can connect to a featured pool or check the available Pools’information.-->
<!--                                </div>-->

<!--                            </div>-->
<!--                        </li>-->
                        <li data-toggle="modal" data-target="#pools" class="pools">
                            <div class="iconBrdr">
                                <span>
                                     <i class="fa fa-list-ul"></i>
                                </span>

                            </div>
                            <div>
                                <div class="Mtitle">
                                    <a href="https://github.com/XDagger/xdag-pool" target="_blank">POOL</a>
                                </div>
                                <div>
                                    Run a XDAG Mining Pool.
                                </div>

                            </div>
                        </li>
                    </ul>

                    <div class="modal fade" id="pools" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel"><img src="{{site.url}}/assets/images/prize/{{ d.index % 6}}.png" alt="" >POOLS LIST</h5>
                                    <span type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </span>
                                </div>
                                <div class="modal-body">

                                    <table width="100%" cellpadding="0" cellspacing="0" class="task-list">
                                        <tr>
                                            <td class="tdnowrap">Name</td>
                                            <td class="tdnowrap">Website</td>
                                            <td class="tdnowrap">Reject the Hacked Coinex Address</td>
                                            <td class="tdnowrap">POOL Address</td>
                                            <td class="tdnowrap">Fee</td>
                                            <td class="tdnowrap">Mode</td>
                                        </tr>

                                        <tr>
                                            <td rowspan="4">Worldwide pool</td>
                                            <td rowspan="4">
                                                <a href="https://xdag.org" target="_blank">https://xdag.org</a><br/>
                                            </td>
                                            <td rowspan="4" >&#10004;</td>
                                            <td>stratum.xdag.org:23656<i class="fa fa-copy" onclick="copyAddress('stratum.xdag.org:23656')"  data-toggle="tooltip" data-placement="top" title="Address copied to Clipboard" data-trigger="click"></i></td>
                                            <td rowspan="4">2%</td>
                                            <td>stratum equal</td>
                                        </tr>
                                        <tr>
                                            <td>stratum.xdag.org:23655<i class="fa fa-copy" onclick="copyAddress('stratum.xdag.org:23655')"  data-toggle="tooltip" data-placement="top" title="Address copied to Clipboard" data-trigger="click"></i></td>
                                            <td>stratum solo</td>
                                        </tr>
                                        <tr>
                                            <td>stratum.xdag.org:24655<i class="fa fa-copy" onclick="copyAddress('stratum.xdag.org:24655')"  data-toggle="tooltip" data-placement="top" title="Address copied to Clipboard" data-trigger="click"></i></td>
                                            <td>stratum solo2</td>
                                        </tr>
                                        <tr>
                                            <td>stratum.xdag.org:24656<i class="fa fa-copy" onclick="copyAddress('stratum.xdag.org:24656')"  data-toggle="tooltip" data-placement="top" title="Address copied to Clipboard" data-trigger="click"></i></td>
                                            <td>stratum equal2</td>
                                        </tr>
                                        <tr>
                                            <td rowspan="2" >Doctor Wang</td>
                                            <td rowspan="2"><a href="https://www1.xdag8.com" target="_blank">https://www1.xdag8.com</a><br/><a href="https://www2.xdag8.com" target="_blank">https://www2.xdag8.com</a></td>
                                            <td rowspan="2" >&#10004;</td>
                                            <td>equal.xdag8.com:13003<i class="fa fa-copy" onclick="copyAddress('equal.xdag8.com:13003')"  data-toggle="tooltip" data-placement="top" title="Address copied to Clipboard" data-trigger="click"></i></td>
                                            <td rowspan="2">2%</td>
                                            <td>stratum equal</td>
                                        </tr>
                                        <tr>
                                            <td>solo.xdag8.com:33003<i class="fa fa-copy" onclick="copyAddress('solo.xdag8.com:33003')"  data-toggle="tooltip" data-placement="top" title="Address copied to Clipboard" data-trigger="click"></i></td>
                                            <td>stratum solo</td>
                                        </tr>
                                        <tr>
                                            <td rowspan="2" >XDAG.EU</td>
                                            <td rowspan="2"><a href="http://equal.xdag.eu" target="_blank">http://equal.xdag.eu</a><br/><a href="http://solo.xdag.eu" target="_blank">http://solo.xdag.eu</a></td>
                                            <td rowspan="2" >&#10004;</td>
                                            <td>equal.xdag.eu:3003<i class="fa fa-copy" onclick="copyAddress('equal.xdag.eu:3003')"  data-toggle="tooltip" data-placement="top" title="Address copied to Clipboard" data-trigger="click"></i></td>
                                            <td rowspan="2">1%</td>
                                            <td>stratum equal</td>
                                        </tr>
                                        <tr>
                                            <td>solo.xdag.eu:3003<i class="fa fa-copy" onclick="copyAddress('solo.xdag.eu:3003')"  data-toggle="tooltip" data-placement="top" title="Address copied to Clipboard" data-trigger="click"></i></td>
                                            <td>stratum solo</td>
                                        </tr>
                                        <tr>
                                            <td rowspan="1" >xdagminer</td>
                                            <td rowspan="1"><a href="http://equal.xdagminer.com" target="_blank">http://equal.xdagminer.com</a><br/></td>
                                            <td rowspan="1" >&#10004;</td>
                                            <td>equal.xdagminer.com:13003<i class="fa fa-copy" onclick="copyAddress('equal.xdagminer.com:13003')"  data-toggle="tooltip" data-placement="top" title="Address copied to Clipboard" data-trigger="click"></i></td>
                                            <td rowspan="1">2%</td>
                                            <td>stratum equal</td>
                                        </tr>
                                        <tr>
                                            <td rowspan="1" >threepool</td>
                                            <td rowspan="1"><a href="https://threepool.tech/dashboard/xdag" target="_blank">https://threepool.tech/dashboard/xdag</a><br/></td>
                                            <td rowspan="1" >&#10004;</td>
                                            <td>https://threepool.tech/<i class="fa fa-copy" onclick="copyAddress('https://threepool.tech')"  data-toggle="tooltip" data-placement="top" title="Address copied to Clipboard" data-trigger="click"></i></td>
                                            <td rowspan="1">2%</td>
                                            <td>stratum equal</td>
                                        </tr>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include roadmap.html %}

<!--{% include task.html %}-->

{% include footer.html %}
<script src="{{site.url}}/assets/js/particles.min.js"></script>
<!-- custom js -->
<script src="{{site.url}}/assets/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="{{site.url}}/assets/lib/easing/easing.min.js"></script>
<script src="{{site.url}}/assets/js/custom.js"></script>

<script>
    particlesJS.load('particles-js', '{{site.url}}/assets/js/particles.json', function() {
        console.log('callback - particles.js config loaded');
    });
</script>
</body>

</html>
