<!DOCTYPE html>
<html>

<head>
  {% include head.html %}
</head>

<body class="sub_page">
{% include tophead.html %}
<div class="ranklist ranklistbg  ">
  <div class="s-shape1 "></div>
  <div class="s-shape2"></div>
  <div class="container">
    <div class="heading_container heading_center">
      <h2>
        HASHRATE STATISTICS
      </h2>
    </div>
    <div class="row">
      <section class="col-12 top100 hashrate">
        <div class="hash">
          <table width="100%" cellpadding="0" cellspacing="0" class="hashrate-list">
            <tbody><tr>
              <th>Number</th>
              <th>CPU</th>
              <th>Hashrate(K)</th>
              <th>Power(W)</th>
              <th>Remark</th>
            </tr>
            </tbody><tbody>
          <tr>
            <td>1</td>
            <td>2670v3</td>
            <td>9</td>
            <td>340～390</td>
            <td>CPU*2</td>
          </tr>
          <tr>
            <td>2</td>
            <td>2678v3</td>
            <td>6.4</td>
            <td>180～205</td>
            <td>CPU*1</td>
          </tr>

          <tr>
            <td>3</td>
            <td>2660v2</td>
            <td>7.7</td>
            <td>230～270</td>
            <td>CPU*2</td>
          </tr>
          <tr>
            <td>4</td>
            <td>2650v2</td>
            <td>7.2</td>
            <td>245～260</td>
            <td>CPU*2</td>
          </tr>
          <tr>
            <td>5</td>
            <td>2689</td>
            <td>7.1</td>
            <td>310～330</td>
            <td>CPU*2</td>
          </tr>
          <tr>
            <td>6</td>
            <td>2670</td>
            <td>6.7</td>
            <td>280～300</td>
            <td>CPU*2</td>
          </tr>
          <tr>
            <td>7</td>
            <td>2690</td>
            <td>6</td>
            <td>310～350</td>
            <td>CPU*2</td>
          </tr>

          <tr>
            <td>8</td>
            <td>2660</td>
            <td>6</td>
            <td>260～300</td>
            <td>CPU*2</td>
          </tr>
          <tr>
            <td>9</td>
            <td>2650l</td>
            <td>5.7</td>
            <td>190～210</td>
            <td>CPU*2</td>
          </tr><tr>
            <td>10</td>
            <td>2450l</td>
            <td>4.5</td>
            <td>160～180</td>
            <td>CPU*2</td>
          </tr>

          <tr>
            <td>11</td>
            <td>x5650</td>
            <td>3.4</td>
            <td>250～300</td>
            <td>CPU*2</td>
          </tr>
          <tr>
            <td>12</td>
            <td>2448l</td>
            <td>4.5</td>
            <td>120～190</td>
            <td>CPU*2</td>
          </tr>

          <tr>
            <td>13</td>
            <td>2651v2</td>
            <td>14</td>
            <td>510～600</td>
            <td>CPU*4</td>
          </tr>
          <tr>
            <td>14</td>
            <td>e7 4880v2</td>
            <td>24</td>
            <td>700</td>
            <td>CPU*4</td>
          </tr>
          <tr>
            <td>15</td>
            <td>2696v2</td>
            <td>6</td>
            <td>170</td>
            <td>CPU*1</td>
          </tr>
          <tr>
            <td>16</td>
            <td>phi7290</td>
            <td>35</td>
            <td>280～295</td>
            <td>CPU*1</td>
          </tr>
          <tr>
            <td>17</td>
            <td>6248r</td>
            <td>30</td>
            <td>300</td>
            <td>CPU*1</td>
          </tr>
          </tbody>
          </table>
        </div>

      </section>
    </div>
  </div>
</div>

{% include footer.html %}

</body>

</html>
