{% include head.html %}
    <link href="{{ 'assets/css/news.css' | relative_url }}" rel="stylesheet">
</head>

<body>
{% include header.html %}
<main id="main">
    <section id="news">
        <div class="container">
            <div class="section-header wow fadeInUp">
                <h3>NEWS</h3>
                <p>The announcements of XDAG.</p>
            </div>
            <div class="row">
                <ul class="news">

                {% for post in paginator.posts  %}
                    <li>
                        <div class="lft">
                            <div class="tit"> <a href="{{ post.url | relative_url }}">{{ post.title }}</a><i class="ion-ios-arrow-down"></i></div>
                            <div class="cont all">{{ post.content }}</div>
                            <div class="cont h60 top">{{ post.excerpt | strip_html }}</div>
                        </div>
                        <div class="rht">
                            <i class="ion-ios-arrow-down"></i>
                            <div class="month"><span>{{post.date | date: "%m"}}</span>-<span>{{post.date | date: "%d"}}</span></div>
                            <div class="year">{{post.date | date: "%Y"}}</div>
                        </div>
                    </li>
                {% endfor %}
                </ul>
                {% if paginator.total_pages > 1 %}
                <div class="pagination">
                    {% if paginator.previous_page %}
                    <a href="{{ paginator.previous_page_path | relative_url }}" class="prev">Previous</a>
                    {% else %}
                    <span>Previous</span>

                    {% endif %}
                    {% for page in (1..paginator.total_pages) %}
                    {% if page == paginator.page %}
                    <em>{{ page }}</em>
                    {% elsif page == 1 %}
                    <a href="{{ '/blog/index.html' | relative_url }}">{{ page }}</a>
                    {% else %}
                    <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
                    {% endif %}
                    {% endfor %}

                    {% if paginator.next_page %}
                    <a href="{{ paginator.next_page_path | relative_url }}">Next</a>
                    {% else %}
                    <span>Next</span>
                    {% endif %}

                </div>
                {% endif %}
            </div>
        </div>
    </section>
</main>
{% include footer.html %}
<script src="{{ 'assets/js/news.js' | relative_url }}"></script>
</body>
</html>