{% include head.html %}
    <link href="{{ '/assets/css/pools.css' | absolute_url }}" rel="stylesheet">
    <link href="{{ '/assets/widgets/network/main.bundle.css' | absolute_url }}" rel="stylesheet">
</head>

<body>
{% include header.html %}
<main id="main">

  <div id="network"></div>
</main>
{% include footer.html %}
<script src="{{ '/assets/widgets/network/main.bundle.js' | absolute_url }}"></script>
<script type="text/javascript">
  xdagNetwork.default({
    rootNodeId: 'network'
  });
</script>
</body>
</html>