<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
</head>

<body class="sub_page">
{% include tophead.html %}


<div class="blog-details-area padding-top-120 padding-bottom-90">
    <div class="s-shape1 "></div>
    <div class="s-shape2"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <!-- single-blog-post-item -->
                <article class="single-blog-list-item mb-30">
                    <div class="blog-details">
                        <div class="blog-title mt-20">
                            <h2>{{page.title}}</h2>
                        </div>
                        <div class="blog-meta border-0 mt-0 pt-1 pb-15">
                            <span class="mr-0 border-0"><i class="fa fa-calendar"></i> {{page.date | date:"%Y-%m-%d "}}</span>
                        </div>
                        <div class="blog-content">
                            {{ content }}
                        </div>

                    </div>
                </article>
            </div>
            <div class="col-lg-4">
                <aside class="widgets-area">

                    <div class="widget widget-search mb-40">
                        <h4 class="title">Search Here</h4>
                        <div class="single-search-inner">
                            <input type="text" placeholder="Search here...">
                            <button><i class="fa fa-search" aria-hidden="true"></i></button>
                        </div>
                    </div>

                    <!-- widget_categories -->
                    <div class="widget_categories first">

                        {% if page.previous.title%}
                        <div> <h4 class="title">Previos</h4><i class="fa fa-angle-double-right"></i></div>
                        <div>
                            <a href="{{page.previous.url}}">
                                {{page.previous.title}}
                            </a>
                        </div>
                        {% endif %}
                    </div>

                    {% if page.next.title%}


                    <div class="widget_categories mb-40">
                        <div><h4 class="title">Next</h4><i class="fa fa-angle-double-right"></i></div>
                        <div> <a href="{{page.next.url}}">{{page.next.title}}</a></div>
                        <div></div>
                    </div>
                    {% endif %}
                </aside>
            </div>
        </div>
    </div>
</div>

<!-- end news section -->

{% include footer.html %}
</body>

</html>
