{% include head.html %}
  <link href="{{ '/assets/css/rank.css' | absolute_url }}" rel="stylesheet">
</head>

<body>
{% include header.html %}
<main id="main" class="gray">
    <div class="container pt-5">
        <div class="section-header wow fadeInUp">
            <h3>{{ page.title }}</h3>
            <p>{{ page.description }}</p>
        </div>
        <div>
          <section class="privacy-section">
              <table width="100%" cellpadding="0" cellspacing="0" class="tasklist" id="app">
                  {% for d in site.data.task %}
                      <tr>
                          <td>
                              <img src="{{ '/assets/images/tasks' | absolute_url }}" alt="" >{{ d.task}}
                          </td>
                          <td class="nowrap">
                              <div class="total">
                                  <div><span>{{ d.total | split:' '| first}}</span></div>
                                  <div>XDAG</div>
                              </div>
                              <div>
                                  <button data-toggle="modal" data-target="#{{ d.index}}">Read more</button>
                                  <div class="modal fade" id="{{ d.index}}" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                      <div class="modal-dialog modal-lg modal-dialog-centered">
                                          <div class="modal-content">
                                              <div class="modal-header">
                                                  <h5 class="modal-title" id="staticBackdropLabel"><img src="{{ '/assets/images/tasks' | absolute_url }}" alt="" >Reward task {{ d.index}}</h5>
                                                  <span type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                      <span aria-hidden="true">&times;</span>
                                                  </span>
                                              </div>
                                              <div class="modal-body">

                                                  <table width="100%" cellpadding="0" cellspacing="0" class="task-list">
<!--                                                      <tr>-->
<!--                                                          <td colspan="5" ><img src="{{ '/assets/images/tasks' | absolute_url }}" alt="" >Reward task {{ d.index}}</td>-->
<!--                                                      </tr>-->
                                                      <tr>
                                                          <td class="tdnowrap">Stage</td>
                                                          <td colspan="2" class="tdnowrap">Details</td>
                                                          <td class="tdnowrap">Priority</td>
                                                          <td class="tdnowrap">Remarks</td>
                                                      </tr>
                                                      <tr>
                                                          <td class="tdnowrap fwb">Task</td>
                                                          <td colspan="2"><span class="progressbg">{{ d.progress}}</span>{{ d.task}}</td>
                                                          <td rowspan="9">{{ d.priority}}</td>
                                                          <td></td>
                                                      </tr>
                                                      <tr>
                                                          <td class="tdnowrap fwb">Deliverables</td>
                                                          <td colspan="2">{{ d.deliverables}}</td>
                                                          <td></td>
                                                      </tr>
                                                      <tr>
                                                          <td class="tdnowrap fwb">Technical<br> acceptance</td>
                                                          <td colspan="2">{{ d.acceptance}}</td>
                                                          <td></td>
                                                      </tr>
                                                      <tr>
                                                          <td rowspan="6" class="tdnowrap fwb">Rewards</td>
                                                          <td colspan="2">{{ d.total}}</td>
                                                          <td rowspan="6">{{ d.remarks}}</td>
                                                      </tr>
                                                      <tr>
                                                          <td>Foundation funding</td>
                                                          <td>Community crowdfunding</td>
                                                      </tr>
                                                      <tr>
                                                          <td><span>{{ d.foundation}}</span></td>
                                                          <td><span>{{ d.community}}</span></td>
                                                      </tr>
                                                      <tr>
                                                          <td colspan="2">Crowdfunding XDAG address:</td>
                                                      </tr>
                                                      <tr>
                                                          <td colspan="2" class="tdnowrap"><span>{{ d.address}}</span></td>
                                                      </tr>
                                                      <tr>
                                                          <td colspan="2"></td>
                                                      </tr>
                                                  </table>

                                              </div>

                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </td>
                      </tr>
                      <tr>
                          <td  colspan="2"></td>
                      </tr>
                  {% endfor %}


              </table>
          </section>

        </div>
    </div>
</main>
{% include footer.html %}

</body>
</html>
