{% include head.html %}
  <link href="{{ '/assets/css/rank.css' | absolute_url }}" rel="stylesheet">
</head>

<body>
{% include header.html %}
<main id="main">
    <div class="container pt-5">
        <div class="section-header wow fadeInUp">
            <h3>{{ page.title }}</h3>
            <p>{{ page.description }}</p>
        </div>
        <div>
          <section class="privacy-section">
              <table width="100%" cellpadding="0" cellspacing="0" class="task-list">
                  <tr>
                      <td colspan="5" >Reward task 1</td>
                  </tr>
                  <tr>
                      <td>Stage</td>
                      <td colspan="2">Details</td>
                      <td>Priority</td>
                      <td>Remarks</td>
                  </tr>
                  <tr>
                      <td>Task</td>
                      <td colspan="2">Change the existing mining algorithm of XDAG to RandomX to solve the problem of unfair mining distribution in the community.</td>
                      <td rowspan="9">High</td>
                      <td></td>
                  </tr>
                  <tr>
                      <td>Deliverables</td>
                      <td colspan="2">Submit RandomX code, XDAG mining algorithm is successfully changed to RadomX</td>
                      <td></td>
                  </tr>
                  <tr>
                      <td>Technical acceptance</td>
                      <td colspan="2">Passed test + code review + successfully launched</td>
                      <td></td>
                  </tr>
                  <tr>
                      <td rowspan="6">Rewards</td>
                      <td colspan="2">300000 XDAG</td>
                      <td rowspan="6">You can record your donation name or code in the transfer remark, and the community will<span>&nbsp; </span>express appreciation.</td>
                  </tr>
                  <tr>
                      <td>Foundation funding</td>
                      <td>Community crowdfunding</td>
                  </tr>
                  <tr>
                      <td>150,000 XDAG</td>
                      <td>150,000 XDAG</td>
                  </tr>
                  <tr>
                      <td colspan="2">Crowdfunding XDAG address:</td>
                  </tr>
                  <tr>
                      <td colspan="2">3oQtj/YtlIl8PGNWtqFR0QNo0dXJ+FDq</td>
                  </tr>
                  <tr>
                      <td colspan="2"></td>
                  </tr>
              </table>
              <table width="100%" cellpadding="0" cellspacing="0" class="task-list">
                  <tr>
                      <td colspan="5" >Reward task 2</td>
                  </tr>
                  <tr>
                      <td >Stage</td>
                      <td colspan="2" >Details</td>
                      <td >Priority</td>
                      <td >Remarks</td>
                  </tr>
                  <tr>
                      <td >Task</td>
                      <td colspan="2" >Solve the problem of slow local loading of XDAG nodes. At present, when the XDAG loading process reaches the height of 490,000 to 620,000 main blocks, the loading speed will be extremely slow. It is necessary to analyze the loading code and data structure to solve the loading speed problem.</td>
                      <td rowspan="9" >High</td>
                      <td></td>
                  </tr>
                  <tr>
                      <td >Deliverables</td>
                      <td colspan="2" >Find the problem and submit the resolved code</td>
                      <td></td>
                  </tr>
                  <tr>
                      <td >Technical acceptance</td>
                      <td colspan="2" >Pass the main network data test + code review + successfully launched</td>
                      <td></td>
                  </tr>
                  <tr>
                      <td rowspan="6" >Rewards</td>
                      <td colspan="2" >200000 XDAG</td>
                      <td rowspan="6" >You can record your donation name or code in the transfer remark, and the community will<span>&nbsp; </span>express appreciation.</td>
                  </tr>
                  <tr>
                      <td >Foundation funding</td>
                      <td >Community crowdfunding</td>
                  </tr>
                  <tr>
                      <td >100,000 XDAG</td>
                      <td >100,000 XDAG</td>
                  </tr>
                  <tr>
                      <td colspan="2" >Crowdfunding XDAG address:</td>
                  </tr>
                  <tr>
                      <td colspan="2" >hmzpclQfTlB7Vt00/yTOHtgg1VrQDskB</td>
                  </tr>
                  <tr>
                      <td colspan="2"></td>
                  </tr>
              </table>
              <table width="100%" cellpadding="0" cellspacing="0" class="task-list">
                  <tr >
                      <td colspan="5">Reward task <font class="font1">3</font></td>
                  </tr>
                  <tr >
                      <td >Stage</td>
                      <td colspan="2">Details</td>
                      <td>Priority</td>
                      <td>Remarks</td>
                  </tr>
                  <tr >
                      <td >Task</td>
                      <td colspan="2">The communication module with libp2p as the bottom layer is implemented in XDAG, and NAT penetration function and node discovery function are added. The libp2p communication protocol has high reliability and security, and is a must for mainstream blockchain projects to build a P2P environment. The realization of this agreement will greatly facilitate the future expansion of XDAG's network scale, enhance network stability, and pave the way for XDAG to remove the whitelist.</td>
                      <td rowspan="10">High</td>
                      <td></td>
                  </tr>
                  <tr >
                      <td >Deliverables</td>
                      <td colspan="2">Submit relevant code</td>
                      <td></td>
                  </tr>
                  <tr>
                      <td>Technical acceptance</td>
                      <td colspan="2">Passed test + code review + successfully launched</td>
                      <td></td>
                  </tr>
                  <tr >
                      <td rowspan="7">Rewards</td>
                      <td colspan="2">1,000,000 XDAG</td>
                      <td rowspan="7">You can record your donation name or code in the transfer remark, and the community will<span>&nbsp; </span>express appreciation.</td>
                  </tr>
                  <tr >
                      <td colspan="2">(<font class="font2">Or USDT、BTC、ETH in same value</font><font class="font2">)</font></td>
                  </tr>
                  <tr>
                      <td>Foundation funding</td>
                      <td>Community crowdfunding</td>
                  </tr>
                  <tr>
                      <td>500,000 XDAG</td>
                      <td>500,000 XDAG</td>
                  </tr>
                  <tr >
                      <td colspan="2">Crowdfunding XDAG address:</td>
                  </tr>
                  <tr >
                      <td colspan="2">/7GiV9ukjtm4oydaeKyW1PRRtK+neU7o</td>
                  </tr>
                  <tr >
                      <td colspan="2"></td>
                  </tr>
              </table>
              <table width="100%" cellpadding="0" cellspacing="0" class="task-list">
                  <tr >
                      <td colspan="5">Reward task 4</td>
                  </tr>
                  <tr >
                      <td >Stage</td>
                      <td colspan="2">Details</td>
                      <td>Priority</td>
                      <td>Remarks</td>
                  </tr>
                  <tr >
                      <td >Task</td>
                      <td colspan="2">Cross-chain solution. Develop XDAG cross-chain solutions and implement code, and assist XDAG to be listed on decentralized exchanges such as Uniswap.</td>
                      <td rowspan="9">High</td>
                      <td></td>
                  </tr>
                  <tr >
                      <td >Deliverables</td>
                      <td colspan="2">Cross-chain solution + code</td>
                      <td></td>
                  </tr>
                  <tr>
                      <td>Technical acceptance</td>
                      <td colspan="2">Passed test + code review + successfully launched</td>
                      <td></td>
                  </tr>
                  <tr >
                      <td rowspan="6">Rewards</td>
                      <td colspan="2">300,000 XDAG</td>
                      <td rowspan="6">You can record your donation name or code in the transfer remark, and the community will<span>&nbsp; </span>express appreciation.</td>
                  </tr>
                  <tr>
                      <td>Foundation funding</td>
                      <td>Community crowdfunding</td>
                  </tr>
                  <tr>
                      <td>150,000 XDAG</td>
                      <td>150,000 XDAG</td>
                  </tr>
                  <tr >
                      <td colspan="2">Crowdfunding XDAG address:</td>
                  </tr>
                  <tr >
                      <td colspan="2">udT6qIYiCrbOCmLiqdIVVf1m8MZbyjPF</td>
                  </tr>
                  <tr >
                      <td colspan="2"></td>
                  </tr>
              </table>
          </section>

        </div>
    </div>
</main>
{% include footer.html %}
</body>
</html>
