<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
</head>

<body class="sub_page">
{% include tophead.html %}


<section class="news_section layout_padding">
    <div class="s-shape1 "></div>
    <div class="s-shape2"></div>
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
               Video
            </h2>
        </div>
        <div class="row tech">



            {% for d in site.data.video %}
            <div class="col-12 col-lg-6">
                <div class="box">
                    <div class="video-box">
                        {% if d.image%}
<!--                        <img src="{{d.image}}" alt="">-->
                        <iframe width="300" height="236" src="{{d.image}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        {% endif%}
                    </div>
                    <div class="detail-box">
                        <h5>
                            {{ d.title}}
                        </h5>
                        <div class="news_info">
                            <h6 class="news_date">
<!--                                <i class="fa fa-calendar" aria-hidden="true"></i> {{ d.date}}-->
                            </h6>
                        </div>
                        <a href="{{ d.link}}" target="_blank">
                            Read More
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}





        </div>

    </div>
</section>


{% include footer.html %}
<script src="{{site.url}}/assets/js/news.js"></script>
</body>

</html>
